@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

body, a, td, th, div{
	font-family:'Verdana';
	color: #333;
	font-size: 8pt;
	text-decoration: none;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 14pt;
}

#header {
	height: 91px;
	border-bottom: 1px solid #cecece;
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #52575b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#52575b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#52575b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#52575b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#52575b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#52575b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#52575b',GradientType=0 ); /* IE6-9 */
}

#siteInfo {
	color: #fff;
	font-size: 19pt;
	font-style: italic;
	font-weight: bold;
	padding: 30px 0 0 40px;
	width: 250px;
	float: left;
	text-shadow: 0 0 0.8em #fff;
	line-height: 17px;
}

#siteInfo span {
	font-size: 7pt;
	font-style: normal;
	font-weight: normal;;
	text-shadow: none;
	line-height: 10px;
}

#userInfo {
	width: 300px;
	float: right;
	color: #fff;
	text-align: right;
	padding: 30px 40px 0 0;
}

#userInfo a { 
	color: #fff; 
	font-weight: bold;
	background: url(templates/img/logout2.png) no-repeat;
	background-position: right 3px;
	padding: 2px 16px 2px 0;
}

#userInfo a:hover { color: red; }

#contentContainer {
	margin: 2px 0 0 0;
	overflow: hidden;
	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top,  #e5e5e5 0%, #ffffff 31%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(31%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5e5e5 0%,#ffffff 31%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5e5e5 0%,#ffffff 31%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5e5e5 0%,#ffffff 31%); /* IE10+ */
	background: linear-gradient(to bottom,  #e5e5e5 0%,#ffffff 31%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#content {
	min-height: 620px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cecece;
	background-color: #fff;
	margin: 30px 30px 30px 300px;
	padding: 30px;
	-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 52, 0.10);
	-moz-box-shadow: 0px 0px 9px rgba(50, 50, 52, 0.10);
	box-shadow: 0px 0px 9px rgba(50, 50, 52, 0.10);
}

.fullPage { margin: 30px!important; }

#footer {
	height: 50px;
	border-top: 1px solid #cecece;
}

/*--- side menu --- div = sideMenu ---*/

#sideMenu {
	width: 300px;
	height: 100%;
	margin-bottom: -160px;
	min-height: 830px;
	float: left;
	padding: 50px 0 5px 0;
	
}

#sideMenu #liHome {
	display: none;
}

#sideMenu #liLogout {
	background:url(/a_centra/templates/img/logout.png) no-repeat;
	background-position: 2px 2px;
	padding-left: 20px!important;
	font-weight:bold;
	border: 0;
}

#sideMenu #liLogout a {
	color: red!important;
}

#sideMenu ul {
	padding: 0;
	list-style: none;
	margin: 0;	
	border-bottom: 1px solid #fff;
	border-top: 1px solid #d2d2d2;
}

#sideMenu ul li {
	font-weight: bold;
	padding: 0 0 0 0;
	text-align: left;
	border-bottom: 1px solid #d2d2d2;
	border-top: 1px solid #fff;
}

#sideMenu ul li a {
	display: block;
	padding: 7px 0 7px 30px;
	/*width: 100%;
	height: 100%;*/
}

#sideMenu ul li a.current {
	background: #fff;
	margin: 0 -1px 0 0;
}

#sideMenu ul li a:hover {
	background-color:#565856;
	color: #fff;
}

#sideMenu .nodeChild {
	margin: 0;
}

#sideMenu .nodeChild li {
	padding: 0 0 0 0;
	font-weight: normal!important;
	border-bottom: 0!important;
}

#sideMenu .nodeChild li {
	padding: 0 0 0 10px;
}

#footer {
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
	background-color: #e0e0e0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.61);
}

#foot1, #foot2 {
	margin: 30px 16px 3px 16px;
	font-weight: bold;
	width: 120px;
}

#foot1 { float: left; }
#foot2 { float: right; }

div.photoBlock {
	margin: 10px;
	display: inline-block;
	width: 100px;
	height: 100px;
}

.cont {
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0 10px 0;
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #CCCCCC;
}

td {
  border: 1px solid #CCCCCC;
  padding: 5px;
}

th {
  text-align: left;
  background-color: #F0F0EE;
  border: 1px solid #CCCCCC;
  padding: 5px;
}


table tr:hover {
  background-color: #F7F7F4;
}

textarea {
	width: 680px;
	height: 300px;
	border: 1px solid #dedede;
	font: 'verdana' 8pt #333333;
}

.imPlan {
	width: 180px;
	height: 300px;
	margin: 10px;
	border: 1px solid #cecece;
	float: left;
	text-align: center;
	vertival-align:bottom;
}

#imPlanContainer {
	height: 360px;
	overflow: hidden;
}

label {
	width: 120px;
	display: inline-block;
	text-align: right;
	padding: 0 10px 0 0;
}

.menu li {
	display: block;
}

span.info {
	font-size: 7pt;
	color: #cacaca;
}

/*--GALLERY--*/
.galElement {
	border: 1px solid #dbdbdb;
	width: 210px;
	height: 250px;
	display: inline-block;
	margin: 10px;
	padding: 5px;
	text-align: center;
	position: relative;
}

.galControls {
	position: absolute;
	bottom: 5px;
	right: 5px;;
}

/*elements*/
#optionsBar {
	text-align: right;
	border: 1px solid #ccc;
	padding: 8px;
	background-color: #f4f4f4;
	margin: 0 0 10px 0;
}

#optionsBar a {
	margin: 0 0 0 15px;
	font-weight: bold;
	color: #6a6a6a;
}

#footerBar {
	border: 1px solid #ccc;
	padding: 8px;
	background-color: #f4f4f4;
	margin: 10px 0 10px 0;
	height: 22px;
}

#footerBar input {
	margin: 0 10px 0 0;
}

/*---tablesorter---*/
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
	border: 1px solid #333;
	border-collapse: collapse;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #cecece;
	font-size: 8pt;
	padding: 4px;
	border-collapse: collapse;
}

table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
 
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
	border: 1px solid #cecece;
	border-collapse: collapse;
	font-weight: normal;
}

table.tablesorter tbody tr:nth-child(odd) td {
	background-color:#f8f8f8;
}

table.tablesorter tbody tr:nth-child(odd):hover td, table.tablesorter tbody tr:nth-child(even):hover td {
	background-color:#e9e9e9;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
/*background-color: #8dbdd8;*/
}

th {
	vertical-align: top;
	text-align: left;
}

.colr { background-color:#fd5b60 !important; }
.col { background-color:#97cafd !important; }

/**---FANCYBOX---**/
#windowContainer {
	padding: 5px;
	border: 1px solid #cecece;
}

fieldset {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #cecece;
	border-radius: 3px;
	padding: 10px;
	margin: 10px 5px 10px 5px;
}

legend {
	font-size: 10pt;
	font-weight: bold;
}