/*---tablesorter---*/
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
	border: 1px solid #333;
	border-collapse: collapse;
}

table.tablesorterPos {
	font-family:arial;
	background-color: #CDCDCD;
	margin: 0;
	font-size: 8pt;
	width: 100%;
	text-align: left;
	border: 0;
	border-collapse: collapse;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #cecece;
	font-size: 8pt;
	padding: 4px;
	border-collapse: collapse;
}

table.tablesorterPos thead tr th, table.tablesorterPos tfoot tr th {
	background-color: #d3d6d5;
	border: 1px solid #cecece;
	font-size: 8pt;
	padding: 4px;
	border-collapse: collapse;
}

table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
 
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
	border: 1px solid #cecece;
	border-collapse: collapse;
	font-weight: normal;
}

table.tablesorter tbody td span i {
	font-size: 9pt!important;
}

table.tablesorter tbody tr:nth-child(odd) td {
	background-color:#f8f8f8;
}

table.tablesorter tbody tr:nth-child(odd):hover td, table.tablesorter tbody tr:nth-child(even):hover td {
	background-color:#e9e9e9;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
/*background-color: #8dbdd8;*/
}

th {
	vertical-align: top;
	text-align: left;
}

.colr { background-color:#fd5b60 !important; }
.col { background-color:#97cafd !important; }

.td_empty {
	padding: 0!important;
}

.inv_bold {
	font-weight: bold!important;
}