@charset "utf-8";
/* CSS Document */
.mElement {
	width: 150px;
	height: 150px;
	display: inline-block;
	position: relative;
	margin: 20px;
	padding: 5px;
	border: 1px solid #cecece;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 0px 16px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 0px 16px rgba(50, 50, 50, 0.2);
}

.mElement:hover {
	-webkit-box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    0px 0px 16px rgba(50, 50, 50, 0.35);
	box-shadow:         0px 0px 16px rgba(50, 50, 50, 0.35);
}

.mElement span {
	display: block;
	margin: 15px;
	position: absolute;
	bottom: 0;
}

/**icons**/

.user { background: url('/gc/templates/backend/default/img/icons/user.png') no-repeat center center; }
.clients { background: url('/gc/templates/backend/default/img/icons/clients.png') no-repeat center center; }
.options { background: url('/gc/templates/backend/default/img/icons/options.png') no-repeat center center; }
.articles { background: url('/gc/templates/backend/default/img/icons/article.png') no-repeat center center; }
.list { background: url('/gc/templates/backend/default/img/icons/list.png') no-repeat center center; }
.product { background: url('/gc/templates/backend/default/img/icons/Shapes.png') no-repeat center center; }
.basket { background: url('/gc/templates/backend/default/img/icons/basket.png') no-repeat center center; }