@charset "utf-8";
/* CSS Document */

/*zmienne*/
#infoPanel {
	left: 50%;
	top: 10%;
}

/*definicje dla typu lData*/
/*-----------------------------------------------------------------*/
#infoPanel.lData {
	width: 1000px;
	margin-left: -500px;
}

#infoPanel.lData #infoHeader { padding: 5px; }

/*-----------------------------------------------------------------*/

#infoTitle {
	font-weight: bold;
	font-size: 10pt;
	width: 500px;
	float: left;
	height: 20px;
}

/*stale*/

#infoMaster {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.8;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
}

#infoPanel {
	background-color: #fff;
	border: 1px solid #cecece;
	position: fixed;
	display: block;
	z-index: 2000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#infoClose {
	width: 20px;
	height: 20px;
	padding: 1px;
	border: 1px solid #cecece;
	background: url(/a_centra/templates/img/x.png) no-repeat center center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#infoContainer {
	position: relative;
	height: 100%;
}

#infoControls  {
	float: right;
	width: 20px;
	height: 20px;
}

#infoHeader {
	height: 20px;
	background-color:#ececec;
	border-bottom: 1px solid #cecece;
}

#infoContent {
	padding: 10px;
}