@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	background-color: #ebebeb;
}

body, a, td, th, div{
	font-family:'Verdana';
	color: #333;
	font-size: 8pt;
	text-decoration: none;
}

#panel {
	width: 220px;
	margin: 60px auto 0 auto;
	padding: 30px 60px 30px 40px;
	border: 1px solid #b5b5b5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #e0e0e0;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.61);
	
}

label {
	display: inline-block;
	text-align: right;
	margin: 0 5px 0 0;
	width: 50px;
}

#loginInfo {
	height: 16px;
	padding: 0 0 0 20px;
	margin: 0 0 20px 0;
	font-weight: bold;
	background: url(/admin_stena/templates/img/login.png) no-repeat;
}

.invalid {
	color:#d96904;
}

.valid {
	color: #249bcd;
}

#header {
	height: 91px;
	border-bottom: 1px solid #cecece;
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #52575b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#52575b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#52575b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#52575b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#52575b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#52575b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#52575b',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.61);
}

#siteInfo {
	color: #fff;
	font-size: 19pt;
	font-style: italic;
	font-weight: bold;
	padding: 30px 0 0 40px;
	width: 250px;
	float: left;
	text-shadow: 0 0 0.8em #fff;
	line-height: 20px;
}

#siteInfo span {
	font-size: 7pt;
	font-style: normal;
	font-weight: normal;;
	text-shadow: none;
	line-height: 10px;
}

#footer {
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
	background-color: #e0e0e0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.61);
}

#foot1, #foot2 {
	margin: 30px 16px 3px 16px;
	font-weight: bold;
	width: 100px;
}

#foot1 { float: left; }
#foot2 { float: right; }

input[type=submit] {
	border: 1px solid #b5b5b5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	font-weight: bold;
	padding: 5px 10px 5px 10px;
}

input[type=text], input[type=password] {
	width: 160px;
	height: 20px;
	border: 1px solid #b5b5b5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
