@charset "utf-8";
/* CSS Document */
/*---PSEUDO METRO CSS----*/
#container {
	margin: auto;
	text-align: center;
}

#metroContainer { 
	margin: 20px auto;
	text-align: left;
	overflow: auto;
}

.mElement {
	display: inline-block;
	margin: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.45);
	-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.45);
	box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.45);
}

.mElement a {
	display: block;
	margin: 0;
	width: 200px;
	height: 200px;
	padding: 20px;
	background-color: #00aedd;
	color: #fff;
	font-family: 'Open Sans', sans-serif!important;
	font-size: 15pt!important;
	bottom: 0;
}
	
/*---UI COLORS ----*/
.blue {
	background-color: #00aedd!important;
}

.blue:hover {
	background: -moz-radial-gradient(center, ellipse cover, #53c0db 0%, #00aedd 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#53c0db), color-stop(100%,#00aedd));
	background: -webkit-radial-gradient(center, ellipse cover, #53c0db 0%,#00aedd 100%);
	background: -o-radial-gradient(center, ellipse cover, #53c0db 0%,#00aedd 100%);
	background: -ms-radial-gradient(center, ellipse cover, #53c0db 0%,#00aedd 100%);
	background: radial-gradient(ellipse at center, #53c0db 0%,#00aedd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53c0db', endColorstr='#00aedd',GradientType=1 );
}

.orange {
	background-color: #e76122!important;
}

.orange:hover {
	background: #e27e53;
	background: -moz-radial-gradient(center, ellipse cover,  #e27e53 0%, #e76122 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e27e53), color-stop(100%,#e76122));
	background: -webkit-radial-gradient(center, ellipse cover,  #e27e53 0%,#e76122 100%);
	background: -o-radial-gradient(center, ellipse cover,  #e27e53 0%,#e76122 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #e27e53 0%,#e76122 100%);
	background: radial-gradient(ellipse at center,  #e27e53 0%,#e76122 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e27e53', endColorstr='#e76122',GradientType=1 );

}

.darkBlue {
	background-color: #034786!important;
}
	
.darkBlue:hover {
	background: #1a5384;
	background: -moz-radial-gradient(center, ellipse cover,  #1a5384 0%, #034786 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1a5384), color-stop(100%,#034786));
	background: -webkit-radial-gradient(center, ellipse cover,  #1a5384 0%,#034786 100%);
	background: -o-radial-gradient(center, ellipse cover,  #1a5384 0%,#034786 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #1a5384 0%,#034786 100%);
	background: radial-gradient(ellipse at center,  #1a5384 0%,#034786 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a5384', endColorstr='#034786',GradientType=1 );
}

.green {
	background-color: #67c111!important;
}

.green:hover {
	background: #8abf56;
	background: -moz-radial-gradient(center, ellipse cover,  #8abf56 0%, #67c111 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#8abf56), color-stop(100%,#67c111));
	background: -webkit-radial-gradient(center, ellipse cover,  #8abf56 0%,#67c111 100%);
	background: -o-radial-gradient(center, ellipse cover,  #8abf56 0%,#67c111 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #8abf56 0%,#67c111 100%);
	background: radial-gradient(ellipse at center,  #8abf56 0%,#67c111 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8abf56', endColorstr='#67c111',GradientType=1 );
}

.red {
	background-color: #c1203f!important;
}

.red:hover {
	background: #bf465c;
	background: -moz-radial-gradient(center, ellipse cover,  #bf465c 0%, #c1203f 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#bf465c), color-stop(100%,#c1203f));
	background: -webkit-radial-gradient(center, ellipse cover,  #bf465c 0%,#c1203f 100%);
	background: -o-radial-gradient(center, ellipse cover,  #bf465c 0%,#c1203f 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #bf465c 0%,#c1203f 100%);
	background: radial-gradient(ellipse at center,  #bf465c 0%,#c1203f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf465c', endColorstr='#c1203f',GradientType=1 );
}

.yellow {
	background-color: #d6b906!important;
}
	
.yellow:hover {
	background: #d3bd41;
	background: -moz-radial-gradient(center, ellipse cover,  #d3bd41 0%, #d6b906 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#d3bd41), color-stop(100%,#d6b906));
	background: -webkit-radial-gradient(center, ellipse cover,  #d3bd41 0%,#d6b906 100%);
	background: -o-radial-gradient(center, ellipse cover,  #d3bd41 0%,#d6b906 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #d3bd41 0%,#d6b906 100%);
	background: radial-gradient(ellipse at center,  #d3bd41 0%,#d6b906 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3bd41', endColorstr='#d6b906',GradientType=1 );
}	
	
/*---UI ICONS ---*/
.gallery {
	background: url(img/gallery.png) no-repeat center center!important;
}

.news {
	background: url(img/news.png) no-repeat center center!important;
}

.logout {
	background: url(img/logout.png) no-repeat center center!important;
}
