.etabs {
	margin: 0;
	padding: 0;
	background-color: transparent;
}

.tab {
	display: inline-block;
	zoom:1;
	*display:inline;
	border-bottom: none;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	background-color: #888888;
}

.tab a {
	font-size: 14px;
	line-height: 2em;
	display: block;
	padding: 0 10px;
	outline: none;
}

.tab a:hover { text-decoration: underline; }

.tab.active {
	background-image: url(../../../templates/frontend/fitie_1.1/img/form-back.jpg);
	padding-top: 6px;
	position: relative;
	top: 1px;
}

.tab a.active { font-weight: bold; }

.tab-container {
	background-color: transparent;
}

.panel-container {
	background-image: url(../../../templates/frontend/fitie_1.1/img/form-back.jpg);
	padding: 5px 40px 40px 40px;
}