@charset "utf-8";
#lightMasterModal, #lightMaster {
	position: fixed;
	z-index: 90;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
}

/* --- default layout --- */

#lightPanel {
	background-color: #fff;
	position: fixed;
	display: block;
	z-index: 2000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: none;
	overflow: auto;
	max-height: 95%;
}

#lightContainer {
	max-height: 95%;
	overflow: hidden;
}

.lightPanelInfo {
	width: 30%;
	height: 120px;
	left: 35%;
	top: 30%;
	min-width: 250px;
}

.lightContentInfo {
	padding: 5px;
	overflow: auto;
}

#lightContent{
	padding: 10px;
	overflow-y: auto;
	max-height: !important;
}

#lightHeader {
	width: 100%;
	height: 37px;
	display: block;
}

#lightTitle {
	font-weight: bold;
	font-size: 10pt;
	width: calc(100% - 50px);
	float: left;
	height: 20px;
	padding: 10px 0 0 10px;
}

#lightClose {
	width: 30px;
	height: 30px;
	margin: 5px 5px 0 0;
	background: url(x-button.png) no-repeat center center;
	float: right;
	border: 0;
	cursor: pointer;
}

/* --- other layouts  - newClass --- */
#lightPanel.newClass {
	background-color: #333!important;
	padding: 10px 10px 20px 10px!important;
}

#lightPanel.newClass #lightHeader {height: 45px!important;}
#lightPanel.newClass #lightHeader #lightTitle {color: #fff!important;}

/* --- other layouts  - superRed --- */
#lightPanel.superRed {
	background-color: #ff2828!important;
	padding: 5px 20px 25px 20px!important;
	-webkit-border-radius: 20px!important;
	-moz-border-radius: 20px!important;
	border-radius: 20px!important;
}

#lightPanel.superRed #lightHeader {height: 45px!important;}
#lightPanel.superRed #lightHeader #lightTitle {color: #fff!important;}