@charset "utf-8";
/* CSS Document */

/* --- zmienne --------------------------------------------------------------------------------------------- */
#infoPanel {
	left: 50%;
	display: none;
	/*visibility: hidden;
	top: 100%;*/
	/*margin: 10px auto 0 auto;*/
	
}

/* --- definicje dla typu lData -----------------------------------------------------------------------------*/
#infoPanel.lData {
	width: 1000px;
	margin-left: -500px;
}

#infoPanel.lData #infoHeader { padding: 5px; }

/*----------------------------------------------------------------------------------------------------------*/

#infoTitle {
	font-weight: bold;
	font-size: 10pt;
	width: 100%;
	height: 24px;
	padding: 2px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #E4E4E4;
	overflow: hidden;
}

/*stale*/

#infoMaster {
	position: fixed;
	z-index: 90;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.8;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
}

#infoPanel {
	background-color: #fff;
	border: 1px solid #cecece;
	position: fixed;
	display: block;
	z-index: 91;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#infoClose {
	width: 20px;
	height: 20px;
	padding: 1px;
	background: url(/templates/default/img/x.png) no-repeat center center;
	border: 1px solid #cecece;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: right;
}

#infoContainer {
	position: relative;
	height: 100%;
}

#infoControls  {
	float: right;
	width: 20px;
	height: 20px;
}

#infoHeader {
	height: 20px;
/*	background-color:#ececec;
	border-bottom: 1px solid #cecece;*/
}

#infoContent {
	padding: 20px 20px 5px 20px;
	overflow-y: auto;
	overflow-x: auto;
	position: relative;
}

/* --- controls ---------------------------------------------------------------------------------------------- */
.lightContainer label {width: 90px;}
.lightContainer h3 {margin: 0 0 15px 0;}

#button_container {
	text-align: right;
	padding: 10px 0 0 0;
}

/* --- inv --------------------------------------------------------------------------------------------------- */
.invDataContainer {
	border: 1px solid #E4E4E4;
	margin: 0;
	padding: 5px;
	overflow: hidden;
	min-width: 650px;
}

.invDataElement {width: 49%;}

.invRight {float: right;}
.invLeft {float: left;}

#lightLoad {
	position: absolute;
	left: 50%;
	top: 50%;
}

#messageText {
	width: 400px;
	height: 60px;
	z-index: 2001;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -30px 0 0 -200px;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	padding: 15px 0 0 0;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 0.75);
}