body {
	background: #fff;
	margin: auto;
	z-index:1;
}

body, p, a div {
	font-family: 'Verdana';
	font-weight: 8pt;
	color: #333;
}

#topMenu {
	height: 25px;
	background-color: #dfdfdf;
	border-bottom: 1px solid #585858;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 4px;
	z-index: 10;
}

#canvas {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 40px;
	left: 0;
	background-color: #dad3a3;
	margin: auto;
}

#image {
	border: 1px solid #cecece;
	margin: 40px auto 0 auto;
	display: block;
}