@charset "UTF-8";.login-box,.login-box-or hr::after
{
  background-color: #fff;
  position: relative
}
.login-box-or hr,.login-form-bottom,.login-oauth
{
  text-align: center
}
.flash-box
{
  margin: 0 0 .9em;
  position: relative;
  bottom: 8px
}
.flash-box>.flash
{
  overflow: auto;
  font-size: .9em;
  padding: .9em;
  border-radius: .3em;
  color: #b8860b;
  background-color: #fffbd3
}
.flash-box>.flash.flash-error
{
  color: #8b0000;
  background-color: #f8d9d9
}
.flash-box>.flash.flash-success
{
  color: #006400;
  background-color: #e4faee
}
.login-box-logo
{
  background-image: url(https://d1my81jgdt4emn.cloudfront.net/images/brand/header_logo_2x.png);
  display: block;
  margin: 0 auto;
  width: 8.25em;
  height: 6.875em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat
}
.login-box-or hr
{
  margin: 2rem 0;
  border: 0;
  border-bottom: 1px dashed #149ED0;
  box-sizing: border-box;
  width: 100%;
  height: 1.3em;
  vertical-align: middle
}
.login-box-or hr::after
{
  display: inline-block;
  content: "Or use your email";
  color: #858585;
  top: .6em;
  padding: 0 1em
}
.login-box-or span
{
  margin: .5em;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  color: #858585
}
.login-box
{
  font-family: "Museo Sans";
  padding: 1em;
  box-sizing: border-box;
  margin: 0 auto
}
.login-box .close-icon
{
  position: fixed;
  right: 6px;
  top: 6px;
  padding: 0;
  color: #858585;
  font-size: 34px;
  display: block;
  cursor: pointer;
  transition: all 300ms
}
.login-box .close-icon:hover
{
  color: #5f5f5f
}
@media(min-width:768px)
{
  .login-box
  {
    border-radius: .5em;
    box-shadow: 0 0 5px 0 #333;
    width: +25em;
    height: auto
  }
  .login-box .close-icon
  {
    position: absolute
  }
}.login-box-outer-wrapper
{
  width: 100%;
  height: 100%;
  display: table;
  background-color: #fff
}
@media(min-width:768px)
{
  .login-box-outer-wrapper
  {
    width: auto;
    max-width: +25em;
    margin: 0 auto;
    height: auto;
    display: block;
    background-color: transparent
  }
}.login-box-inner-wrapper
{
  display: table-cell;
  vertical-align: middle
}
@media(min-width:768px)
{
  .login-box-inner-wrapper
  {
    max-width: +25em;
    display: block;
    width: auto;
    height: auto
  }
}.login-box-card,.login-box-face
{
  width: 100%;
  height: 100%
}
input[type=email].login-box-input,input[type=password].login-box-input,input[type=text].login-box-input
{
  margin: .3em auto 1.3em;
  width: 100%;
  box-sizing: border-box;
  height: 2.3em;
  border: 1px solid #c5c5c5;
  font-family: "Museo Sans";
  font-size: 1em;
  font-weight: 500;
  background-color: #f5faff;
  color: #333;
  border-top: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  border-bottom: none;
  border-right: none;
  border-radius: .3em;
  text-align: center;
  padding: 0
}
.login-box h4,.login-box-button
{
  font-family: Bariol
}
input[type=email].login-box-input:focus,input[type=password].login-box-input:focus,input[type=text].login-box-input:focus
{
  transition: .5s;
  border-color: #4682b4;
  outline: 0
}
input[type=email].login-box-input:disabled,input[type=password].login-box-input:disabled,input[type=text].login-box-input:disabled
{
  background: #ddd
}
input[type=email].login-box-input:invalid,input[type=password].login-box-input:invalid,input[type=text].login-box-input:invalid
{
  box-shadow: none
}
input[type=email].login-box-input:-moz-ui-invalid,input[type=password].login-box-input:-moz-ui-invalid,input[type=text].login-box-input:-moz-ui-invalid
{
  box-shadow: none
}
input[type=email].login-box-input.ng-valid,input[type=password].login-box-input.ng-valid,input[type=text].login-box-input.ng-valid
{
  border-color: green!important
}
.login-box h4
{
  font-weight: 600;
  color: #666;
  margin-top: 0;
  font-size: 1.1em
}
.login-box h4::before
{
  content: "";
  background-image: url(https://d1my81jgdt4emn.cloudfront.net/images/brand/w_logo.png);
  display: inline-block;
  vertical-align: middle;
  width: 2em;
  height: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 1em
}
.login-box-legal
{
  font-size: 10px;
  color: #666;
  padding-top: 22px
}
.login-box-label
{
  display: none
}
.login-oauth
{
  width: 100%;
  margin-bottom: 1em;
  position: relative
}
.login-oauth .fa
{
  color: #fff;
  top: 16px;
  left: 115px;
  position: absolute
}
.login-facebook-button::before,.login-google-button::before
{
  position: absolute;
  font-size: 1.4em;
  font-family: FontAwesome;
  left: 1em
}
.login-box-button
{
  position: relative;
  height: 2.8125em;
  background-color: #F70;
  width: 230px;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  border: none;
  border-radius: 1.4375em;
  display: inline-block;
  margin: 0 5px;
  zoom: 1;
  box-shadow: none;
  cursor: pointer
}
.login-box-button:hover
{
  transition: .5s;
  background-color: #cc5f00
}
.login-box-button:focus
{
  outline: 0;
  border: 1px solid #4682b4;
  transition: .5s
}
.login-box-button:disabled
{
  background: #ccc
}
.login-box-email-success
{
  margin: 12px 0
}
.login-box-email-button
{
  width: 130px
}
.login-box-cancel-button
{
  background-color: transparent;
  color: #00B0D7
}
.login-box-cancel-button:hover
{
  background-color: #dedede
}
.login-box-first-name
{
  width: 47.5%;
  display: inline-block;
  margin-right: 2.5%;
  box-sizing: border-box
}
.login-box-last-name
{
  width: 47.5%;
  display: inline-block;
  margin-left: 2.5%;
  box-sizing: border-box
}
.login-facebook-button
{
  background-color: #3B5998
}
.login-facebook-button:hover
{
  background-color: #2d4373
}
.login-facebook-button::before
{
  content: ""
}
.login-google-button
{
  background-color: #dd4b39
}
.login-google-button:hover
{
  background-color: #c23321
}
.login-google-button::before
{
  content: ""
}
.login-form
{
  max-width: 18.75em;
  margin: 0 auto
}
.login-box-text
{
  font-size: .8em;
  padding-top: .7em
}
.login-box-text a
{
  text-decoration: none;
  color: #00afd7;
  transition: .5s
}
.login-box-text a:hover
{
  color: #004758
}