.tabs-menu {
    height: 40px;
    float: left;
    clear: both;
}

.tabs-menu li {
    height: 40px;
    line-height: 40px;
    float: left;
    margin-right: 10px;
    background-color: #ccc;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
    -webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
}

.tabs-menu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none; 
}

.tabs-menu .current a {
    color: #2e7da3;
}

.tab {
		width: 100%;
    //border: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;
    //margin-bottom: 20px;
    //width: auto;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
		-moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 1);
		box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 1);
		-webkit-border-radius: 10px;
		-webkit-border-top-left-radius: 0;
		-moz-border-radius: 10px;
		-moz-border-radius-topleft: 0;
		border-radius: 10px;
		border-top-left-radius: 0;
}

.tab-content {
    width: 100%;
    padding: 20px;
    display: none;
}

#tab-1 {
 display: block;   
}