@charset "UTF-8";
html, body {height: 100%;}
[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}
ng\:form{display:block;}
.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}
.ng-hide-add-active,.ng-hide-remove{display:block!important;}

.wph {
	@media (max-width: 480px) {width: 100%;}
	@media (min-width: 481px) {width: 69%;float: left;}
}

.wpp {
	@media (max-width: 480px) {width: 100%;}
	@media (min-width: 481px) {width: 29.20262%;float: left;}
}

.prezes {background: url(../img/prezes.png);}


.slick-prev:before, .history-gallery-button:first-child::before {content: "\f104"!important;}
.slick-next:before, .history-gallery-button:last-child::before {content: "\f105"!important;}
.slick-dots li button:before {content: "\f111"!important;}



//@import "font-awesome";
@import "library";
@import "primary2";
//@import "fb";