.badge {
	color: #fff;	
	position: absolute;
	top: 40px;
	font-size: 12px;
	padding: 4px 30px 4px 30px ;
	z-index: 31;
	&:after {
		content: ' ';
		width: 6px;
		height: 4px;
		top: 26px;
		position: absolute;
	}
}

.badge-left {
	background: #24b24b; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #24b24b 20%, #1c55aa 73%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #24b24b 20%,#1c55aa 73%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #24b24b 20%,#1c55aa 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24b24b', endColorstr='#1c55aa',GradientType=1 );
	left: -6px;
	&:after {
		background-image: url(../img/badge-left.png);
    left: 0;
	}
}

.badge-right {
	background: #2358a8; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #2358a8 25%, #4c7ebf 50%, #2358a8 75%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #2358a8 25%,#4c7ebf 50%,#2358a8 75%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #2358a8 25%,#4c7ebf 50%,#2358a8 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2358a8', endColorstr='#2358a8',GradientType=1 );
	right: -6px;
	&:after {
		background-image: url(../img/badge-right.png);
		right: 0;
	}
}

.badge-container {
	position: relative;
	padding-top: 43px!important;
	padding-bottom: 10px!important;
}

.badge-sign {
	width: 34px;
	height: 34px;
	position: absolute;
	left: -25px;
	top: 34px;
}

.badge-red-granulacja {background: url(../img/icons/granulacja.png) no-repeat;}
.badge-red-wlasciwosci {background: url(../img/icons/wlasciwosci.png) no-repeat;}
.badge-red-stosowanie {background: url(../img/icons/stosowanie.png) no-repeat; left: calc(50% - 82px)!important;}
.badge-red-dawkowanie {background: url(../img/icons/dawkowanie.png) no-repeat; left: calc(50% - 84px)!important;}


.badge-percent {
	width: 42px;
	height: 21px;
	display: inline-block;
	font-weight: 600;
	text-align: right;
	margin: 0 0 3px 0;
	padding: 0 3px 0 0;
}

.badge-percent-1 {background: #d2222a;}
.badge-percent-2 {background: #d95843;}
.badge-percent-3 {background: #e08067;}
.badge-percent-4 {background: #eaa68f;}
.badge-percent-5 {background: #f3cfc1;}