.row50 {
	height: 50%;
	width: 100%;
	position: relative;
}

.col50 {
	position: relative;
	width: 50%;
	height: 100%;
	margin: 0;
	padding: 0;
	float: left;
}

.content-background {
	overflow: hidden;
}

.content-container {
	padding: 78px 0 0 0;
	position: relative;
	width: 100%;
	height: 100%
}

.content-back {
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center, center;
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease-in;
   -moz-transition: all 1s ease-in;
   -o-transition: all 1s ease-in;
   -ms-transition: all 1s ease-in;
   transition: all 1s ease-in;
}

.content-back-cloak {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 1s ease-in;
   -moz-transition: all 1s ease-in;
   -o-transition: all 1s ease-in;
   -ms-transition: all 1s ease-in;
   transition: all 1s ease-in;
   background: #000;
}

.content-back-cloak:hover {
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.content-back:hover {
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}

.content-back-lubofoska {background-image:url(../img/background_lubofoska_blur.jpg);}
.content-news-back {background-image:url(../img/news.jpg);}

.content-text {
	-webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  transition: all 1s ease-in;
	padding: 80px 70px 0 70px;
	h3 {
		font-size: 30px;
		font-weight: 600;
		padding: 0;
		strong {border-bottom: 4px solid $granat;}
	}
	p {text-align: justify;}
}

.content-text-left {
	-webkit-transform: translate(-200%,0%);
	-moz-transform: translate(-200%,0%);
	transform: translate(-200%,0%);
}

.content-text-right {
	-webkit-transform: translate(200%,0%);
	-moz-transform: translate(200%,0%);
	transform: translate(200%,0%);
}

.pageCurrent .content-text {
	-webkit-transform: translate(0,0)!important;
	-moz-transform: translate(0%,0%)!important;
	transform: translate(0%,0%)!important;
}