#glassElement, #glassElement_apla {   
	background: #2358a8;
	background: -moz-linear-gradient(top,  #2358a8 0%, #24b24b 100%);
	background: -webkit-linear-gradient(top,  #2358a8 0%,#24b24b 100%);
	background: linear-gradient(to bottom,  #2358a8 0%,#24b24b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2358a8', endColorstr='#24b24b',GradientType=0 );

	opacity: 0.3;
  filter: alpha(opacity=30);
  
  position: absolute;
  z-index: 3;
  width: 100%; 
  height: 100%;
}

#glassElement {
  shape-inside: polygon(0 25%, 30% 20%, 59% 35%, 50% 90%, 0 100%);
  -webkit-clip-path: polygon(0 25%, 30% 20%, 59% 35%, 50% 90%, 0 100%);
  clip-path: polygon(0 25%, 30% 20%, 59% 35%, 50% 90%, 0 100%);
  -webkit-shape-outside: polygon(0 25%, 30% 20%, 59% 35%, 50% 90%, 0 100%);
  shape-padding: 10px;
  transition: all 3s ease; 
  animation: glass1 20s ease alternate infinite;
} 

#glassElement_apla {
   shape-inside: polygon(80% 100%, 90% 80%, 100% 75%, 100% 100%);
  -webkit-clip-path: polygon(80% 100%, 90% 80%, 100% 75%, 100% 100%);
  clip-path: polygon(80% 100%, 90% 80%, 100% 75%, 100% 100%);
  -webkit-shape-outside: polygon(80% 100%, 90% 80%, 100% 75%, 100% 100%);
  shape-padding: 10px;
  transition: all 3s ease; 
  animation: glass2 20s ease alternate infinite;
}

@keyframes glass1 {
  50%  {
  	shape-inside: polygon(0 27%, 25% 25%, 60% 40%, 58% 92%, 0 100%);
  	-webkit-clip-path: polygon(0 27%, 25% 25%, 60% 40%, 58% 92%, 0 100%);
  	clip-path: polygon(0 27%, 25% 25%, 60% 40%, 58% 92%, 0 100%);
  	-webkit-shape-outside: polygon(0 27%, 25% 25%, 60% 40%, 58% 92%, 0 100%);
  	opacity: 0.15;
  	filter: alpha(opacity=15);
  	}
  100% {
  	shape-inside: polygon(0 25%, 30% 20%, 59% 35%, 50% 90%, 0 100%);
  	-webkit-clip-path: polygon(0 25%, 30% 20%, 59% 35%, 50% 90%, 0 100%);
  	clip-path: polygon(0 25%, 30% 20%, 59% 35%, 50% 90%, 0 100%);
  	-webkit-shape-outside: polygon(0 25%, 30% 20%, 59% 35%, 50% 90%, 0 100%);
  	opacity: 0.35;
  	filter: alpha(opacity=35);
  	}
}

@keyframes glass2 {
  50%  {
  	shape-inside: polygon(82% 100%, 92% 80%, 100% 78%, 100% 100%);
  	-webkit-clip-path: polygon(82% 100%, 92% 80%, 100% 78%, 100% 100%);
  	clip-path: polygon(82% 100%, 92% 80%, 100% 78%, 100% 100%);
  	-webkit-shape-outside: polygon(82% 100%, 92% 80%, 100% 78%, 100% 100%);
  	opacity: 0.15;
  	filter: alpha(opacity=15);
  	}
  100% {
  	shape-inside: polygon(80% 100%, 90% 80%, 100% 75%, 100% 100%);
  	-webkit-clip-path: polygon(80% 100%, 90% 80%, 100% 75%, 100% 100%);
  	clip-path: polygon(80% 100%, 90% 80%, 100% 75%, 100% 100%);
  	-webkit-shape-outside: polygon(80% 100%, 90% 80%, 100% 75%, 100% 100%);
  	opacity: 0.35;
  	filter: alpha(opacity=35);
  	}
}