.c-hamburger--htra span {
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.c-hamburger--htra span::before {
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, top 0.3s;
          transition: transform 0.3s, width 0.3s, top 0.3s;
}

.c-hamburger--htra span::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, bottom 0.3s;
          transition: transform 0.3s, width 0.3s, bottom 0.3s;
}

.c-hamburger--htra:hover span {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.c-hamburger--htra:hover span::before,
.c-hamburger--htra:hover span::after {
  width: 50%;
}

.c-hamburger--htra:hover span::before {
  top: 0;
  -webkit-transform: translateX(-1px) translateY(1px) rotate(-45deg);
      -ms-transform: translateX(-1px) translateY(1px) rotate(-45deg);
          transform: translateX(-1px) translateY(1px) rotate(-45deg);
}

.c-hamburger--htra:hover span::after {
  bottom: 0;
  -webkit-transform: translateX(-1px) translateY(-1px) rotate(45deg);
      -ms-transform: translateX(-1px) translateY(-1px) rotate(45deg);
          transform: translateX(-1px) translateY(-1px) rotate(45deg);
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 34px;
  height: 40px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 18px;
  left: 4px;
  right: 4px;
  height: 3px;
  background: white;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.shrink .c-hamburger span {background: #2358a8;}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.shrink .c-hamburger span::before,
.shrink .c-hamburger span::after {background: #2358a8;}

.c-hamburger span::before {
  top: -8px;
}

.c-hamburger span::after {
  bottom: -8px;
}



.c-hamburger--htx span {
  background: transparent;
}

.c-hamburger--htx span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger--htx span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}


/* -------------------------------------*/
.c-hamburger--htx:hover span {
  /*-webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);*/
  background: #fff;
          
}

.c-hamburger--htx:hover span::before,
.c-hamburger--htx:hover span::after {
  width: 50%;
}

.c-hamburger--htx:hover span::before {
  top: 0;
  -webkit-transform: translateX(0) translateY(5px) rotate(45deg);
      -ms-transform: translateX(0) translateY(5px) rotate(45deg);
          transform: translateX(0) translateY(5px) rotate(45deg);
}

.c-hamburger--htx:hover span::after {
  bottom: 0;
  -webkit-transform: translateX(0) translateY(-5px) rotate(-45deg);
      -ms-transform: translateX(0) translateY(-5px) rotate(-45deg);
          transform: translateX(0) translateY(-5px) rotate(-45deg);
}