nav.shrink .search-string {
	border-right: 1px solid #2358a8!important;
	border-bottom: 1px solid #2358a8!important;
	color: #2358a8!important;
}

nav.shrink .search-string::-webkit-input-placeholder {color: #2358a8!important;}
nav.shrink .search-string:-moz-placeholder {color: #2358a8!important;}
nav.shrink .search-string::-moz-placeholder {color: #2358a8!important;}
nav.shrink .search-string:-ms-input-placeholder {color: #2358a8!important;}