.section-container {
	position: relative;
	width: 100%;
	height: 100%
}

.section-container-scroll {
	position: relative;
	width: 100%;
	z-index: 30;
}

.section-background {
	position: absolute;
	width: 50%;
	height: 50%;
	top: 78px;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top, center;
  background-repeat: no-repeat;
}

.section-left {left: 0;}
.section-right {right: 0;}

.section-background-1 {background-image: url(../img/section_1_bw.jpg)}
.section-background-2 {background-image: url(../img/section_2_bw.jpg)}
.section-background-3 {background-image: url(../img/section_3_bw.jpg)}
.section-background-4 {background-image: url(../img/section_4_bw.jpg)}

.section-image {position: absolute;}
.section-image, .section-image-rotate {
	outline: 10px solid #fff;
	overflow: hidden;
	z-index: 4;
	-webkit-box-shadow: 0px 0px 30px 1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 30px 1px rgba(0,0,0,1);
  box-shadow: 0px 0px 30px 1px rgba(0,0,0,1);
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}

.section-image img {
	-webkit-transition: all 1.5s ease-out;
	-moz-transition: all 1.5s ease-out;
	-o-transition: all 1.5s ease-out;
	-ms-transition: all 1.5s ease-out;
	transition: all 1.5s ease-out;
} 

.img-dark {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #333;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 1s ease-out;
   -moz-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;
   -ms-transition: all 1s ease-out;
   transition: all 1s ease-out;
}

.section-image-scale:hover .img-dark, .link-container a:hover .section-image-scale {
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.section-image-scale:hover img, .link-container a:hover .section-image-scale img{
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
	-webkit-transition: all 1s ease-in;
   -moz-transition: all 1s ease-in;
   -o-transition: all 1s ease-in;
   -ms-transition: all 1s ease-in;
   transition: all 1s ease-in;
}

.section-image-left {left: 5%;}
.section-image-right {right: 5%;}

.section-content {
	position: absolute;
	top: calc(50% + 90px);
	-webkit-transition: all ease .7s;
  -moz-transition: all ease .7s;
  transition: all ease .7s;
  width: 30%;
}

.section-content-right {
	text-align: right;
}

.section-content h3 {font-weight: 600; border-bottom: 3px solid #2358a8;}

.section-link {
	position: absolute;
	bottom: 13%;
	-webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
}

.section-link a, .p-link a {color: $granat;font-weight: bold;}
.section-link a .material-icons, .p-link a .material-icons {font-size: 17px;}
.p-link-right {text-align: right;}

.section-link-left {left: 15%;}
.section-link-right {right: 15%;}

.section-full-background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 1s ease-out;
   -moz-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;
   -ms-transition: all 1s ease-out;
   transition: all 1s ease-out;
   -webkit-transition-delay: 1s;
   -moz-transition-delay: 1s;
   -o-transition-delay: 1s;
   -ms-transition-delay: 1s;
    transition-delay: 1s;
}
.pageCurrent .section-container .section-full-background {
	opacity: 1!important;
	filter: alpha(opacity=1)!important;
}

.section-full-background-left {background-image: url(../img/back-left.png);background-position: bottom right;}
.section-full-background-right {background-image: url(../img/back-right.png);background-position: bottom left;}

.section-page-content {
	position: absolute;
	top: 40%;
	h2 {
		font-weight: 300;
		font-size: 60px;
		padding: 0;
		margin: 5px 0;
	}
	
	h1 {
		color: $granat;
		font-weight: 600;
		display: inline-block;
		padding: 0;
		margin: 5px 0 5px 0;
		&:after {
			border-bottom: 4px solid $granat;
			content: "";
		  text-align: left;
		  width: 100%;
		  display: block;
		}
	}
}

.section-map {
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0;
	top: 0;
	bottom: 0;
}

.page-one-content {
	margin: 40px 0 0 0;
	h2 {
		font-weight: 600;
		font-size: 37px;
		padding: 0;
		margin: 5px 0;
		color: $granat;
	}
	
	h1 {
		font-weight: 300;
		font-size: 37px;
		display: inline-block;
		padding: 0;
		margin: 0 0 5px 0;
		&:after {
			border-bottom: 4px solid $granat;
			content: "";
		  text-align: left;
		  width: 100%;
		  display: block;
		}
	}
}

video {
	position: absolute;
	top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
 	background: #fefefe;
  background-size: cover;
  transition: 1s opacity;
}

.section-image-pre-rotate {
	position: absolute;
	@media screen and (max-height: 800px) {right: -10%;}
	@media screen and (min-height: 801px) {right: -20%;}
  bottom: -20%;
}

.section-image-rotate {
 animation: section-image-animation-rotate 2.5s ease alternate;
  -webkit-transform: rotate(-8deg);
	-moz-transform: rotate(-8deg);
	-o-transform: rotate(-8deg);
	-ms-transform: rotate(-8deg);
	transform: rotate(-8deg);
	-webkit-transition: all 1s ease-out;
   -moz-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;
   -ms-transition: all 1s ease-out;
   transition: all 1s ease-out;
}

.section-image-animate {
	animation: section-image-animation 2.5s ease alternate;
}

@keyframes section-image-animation {
  0%  {
		-webkit-transform: translate(200%,0%);
		-moz-transform: translate(200%,0%);
		transform: translate(200%,0%);
	}
  100% {
		-webkit-transform: translate(0,0%);
		-moz-transform: translate(0,0%);
		transform: translate(0,0%);
	}
}

@keyframes section-image-animation-rotate {
  0%  {
		-webkit-transform: rotate(10deg);
		-moz-transform: rotate(10deg);
		-o-transform: rotate(10deg);
		-ms-transform: rotate(10deg);
		transform: rotate(10deg);
	}
  100% {
		-webkit-transform: rotate(-8deg);
		-moz-transform: rotate(-8deg);
		-o-transform: rotate(-8deg);
		-ms-transform: rotate(-8deg);
		transform: rotate(-8deg);
	}
}

.section-salesman {
	background-color: $granat;
	padding: 20px 0 20px 40px;
	width: 80%;
	position: relative;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	p {
		font-weight: 100;
		color: #fff;
		line-height: 1.2;
		span {
			font-weight: 500;
			font-size: 25px;
		}
		a {
			color: #fff;
			text-decoration: underline;
		}
	}
	&:after {
		width: 20px;
		height: 20px;
		content: '';
	  border-top: solid 10px transparent;
	  border-right: solid 10px transparent;
	  border-left: solid 10px $granat;
	  border-bottom: solid 10px transparent;
	  position: absolute;
	  right: -20px;
	  top: 20px;
	}
}

#map {
	height: 100%;
}