<div class="container">
              <table class="dcomp-table">
                <tbody>
                  <tr>
                    <td colspan="3">Urządzenia Apple iOS</td>
                    <td colspan="5">Aplikacje</td>
                  </tr>
                  <tr>
                    <td>Typ</td>
                    <td>Model</td>
                    <td>Wersja OS</td>
                    <td><a href="aplikacje_wonder.html"><img src="templates/frontend/makewonder_1.0/img/appicon_wonder.png" srcset="templates/frontend/makewonder_1.0/img/appicon_wonder_2x.png 2x" alt="Wonder app icon" class="app-icon"><span>Wonder</span></a></td>
                    <td> <a href="aplikacje_go.html"> <img src="templates/frontend/makewonder_1.0/img/appicon_go.png" srcset="templates/frontend/makewonder_1.0/img/appicon_go_2x.png 2x" alt="Go app icon" class="app-icon"><span>Go</span></a></td>
                    <td><a href="aplikacje_blockly.html"> <img src="templates/frontend/makewonder_1.0/img/appicon_blockly.png" srcset="templates/frontend/makewonder_1.0/img/appicon_blockly_2x.png 2x" alt="Blockly app icon" class="app-icon"><span>Blockly</span></a></td>
                    <td><a href="aplikacje_path.html"><img src="templates/frontend/makewonder_1.0/img/appicon_path.png" srcset="templates/frontend/makewonder_1.0/img/appicon_path_2x.png 2x" alt="Path app icon" class="app-icon"><span>Path</span></a></td>
                    <td><a href="aplikacje_xylo.html"><img src="templates/frontend/makewonder_1.0/img/appicon_xylo.png" srcset="templates/frontend/makewonder_1.0/img/appicon_xylo_2x.png 2x" alt="Xylo app icon" class="app-icon"><span>Xylo</span></a></td>
                  </tr>
                  <tr class="device-tr">
                    <td>Tablety</td>
                    <td>
                      <ul>
                        <li>iPad 3, 4</li>
                        <li>iPad Air 1, 2</li>
                        <li>iPad Mini 1, 2, 3, 4</li>
                      </ul>
                    </td>
                    <td> 
                      <div class="os-version">8.1+</div>
                    </td>
                    <td><i class="fa fa-check"></i></td>
                    <td> <i class="fa fa-check"></i></td>
                    <td> <i class="fa fa-check"></i></td>
                    <td> <i class="fa fa-check"></i></td>
                    <td> <i class="fa fa-check"></i></td>
                  </tr>
                  <tr class="device-tr">
                    <td>Smartfony</td>
                    <td>
                      <ul>
                        <li>iPhone 5, 5c, 5s, 6, 6 Plus, 6s, 6s Plus</li>
                        <li>iPod Touch 5</li>
                      </ul>
                    </td>
                    <td> 
                      <div class="os-version">8.1+</div>
                    </td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td colspan="8"></td>
                  </tr>
                </tbody>
              </table>
              <table class="dcomp-table">
                <tbody>
                  <tr>
                    <td colspan="3">Urządzenia Android</td>
                    <td colspan="5">Apps</td>
                  </tr>
                  <tr>
                    <td>Typ</td>
                    <td>Model</td>
                    <td>Wersja OS</td>
                    <td><a href="aplikacje_wonder.html"><img src="templates/frontend/makewonder_1.0/img/appicon_wonder.png" srcset="templates/frontend/makewonder_1.0/img/appicon_wonder_2x.png 2x" alt="Wonder app icon" class="app-icon"><span>Wonder</span></a></td>
                    <td> <a href="aplikacje_go.html"> <img src="templates/frontend/makewonder_1.0/img/appicon_go.png" srcset="templates/frontend/makewonder_1.0/img/appicon_go_2x.png 2x" alt="Go app icon" class="app-icon"><span>Go</span></a></td>
                    <td><a href="aplikacje_blockly.html"> <img src="templates/frontend/makewonder_1.0/img/appicon_blockly.png" srcset="templates/frontend/makewonder_1.0/img/appicon_blockly_2x.png 2x" alt="Blockly app icon" class="app-icon"><span>Blockly</span></a></td>
                    <td><a href="aplikacje_path.html"><img src="templates/frontend/makewonder_1.0/img/appicon_path.png" srcset="templates/frontend/makewonder_1.0/img/appicon_path_2x.png 2x" alt="Path app icon" class="app-icon"><span>Path</span></a></td>
                    <td><a href="aplikacje_xylo.html"><img src="templates/frontend/makewonder_1.0/img/appicon_xylo.png" srcset="templates/frontend/makewonder_1.0/img/appicon_xylo_2x.png 2x" alt="Xylo app icon" class="app-icon"><span>Xylo</span></a></td>
                  </tr>
                  <tr class="device-tr">
                    <td>Tablets</td>
                    <td>
                      <ul>
                        <li>Nexus 7 (2013) <span class="orange-font">*</span></li>
                        <li>Nexus 9</li>
                        <li>Galaxy Note 10.1</li>
                        <li>Galaxy Note Pro 12.2</li>
                        <li>Galaxy Tab 3, 8.0, 10.1</li>
                        <li>Galaxy Tab 4 7.0, 8.0, 10.1</li>
                        <li>Galaxy Tab Pro 8.4</li>
                        <li>Galaxy Tab S 8.4, 10.5</li>
                        <li>Nabi 2S</li>
                        <li>Nabi DreamTab<span class="orange-font">**</span></li>
                      </ul>
                    </td>
                    <td> 
                      <div class="os-version">4.4.2+</div>
                    </td>
                    <td> <i class="fa fa-check"></i></td>
                    <td> <i class="fa fa-check"></i></td>
                    <td> <i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                  </tr>
                  <tr class="device-tr">
                    <td>Smartfony</td>
                    <td>
                      <ul>
                        <li>Galaxy S4, S5</li>
                      </ul>
                    </td>
                    <td> 
                      <div class="os-version">4.4.2+</div>
                    </td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td></td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                  </tr>
                  <tr>
                    <td colspan="8"></td>
                  </tr>
                </tbody>
              </table>
              <p class="disclaimer"> <br><span class="orange-font">* </span>Nexus 7 (2013) umożliwa równoczesne podłączenie tylko do jednego robota. Właścicielom smartfona Nexus 7 zalecamy zakup tylko Dasha.<br><span class="orange-font">**</span>Nabi DreamTab nie wspomaga jeszcze Aplikacji Wonder<br><br>Możesz pobierać i używać naszych aplikacje na innych urządzeniach z systemem iOS lub Android, jednak nie gwarantujemy płynnego działania na wszystkich modelach.</p>
            </div>