ol {
	margin: 0 0 0 16px!important;
	li {
		list-style: inherit;
	}
}

sub,sup
{
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline
}
img,legend
{
  border: 0
}
.button,b,button,strong
{
  font-weight: 700
}
sub,sup
{
  position: relative
}
.header-sign-in,.pagination li>a,a
{
  text-decoration: none
}
.dropdown,.dropdown-menu,.pagination li>a,.span-1,.span-10,.span-11,.span-12,.span-2,.span-3,.span-4,.span-5,.span-6,.span-7,.span-9
{
  float: left
}
.cta-bar,.inner,.signup-cta h1
{
  text-align: center
}
html
{
  box-sizing: border-box
}
*,::after,::before
{
  box-sizing: inherit
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary
{
  display: block
}
audio,canvas,video
{
  display: inline-block
}
audio:not([controls])
{
  display: none;
  height: 0
}
[hidden],template
{
  display: none
}
.row,.span-1,.span-10,.span-11,.span-12,.span-2,.span-3,.span-4,.span-5,.span-6,.span-8,.span-9
{
  display: block
}
body,figure
{
  margin: 0
}
a
{
  background: 0 0
}
a:focus
{
  outline: dotted thin
}
a:active,a:hover
{
  outline: 0
}
h1
{
  font-size: 2em;
  margin: .67em 0
}
abbr[title]
{
  border-bottom: 1px dotted
}
dfn
{
  font-style: italic
}
hr
{
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0
}
mark
{
  background: #ff0;
  color: #000
}
code,kbd,pre,samp
{
  font-family: monospace,serif;
  font-size: 1em
}
pre
{
  white-space: pre-wrap
}
q
{
  quotes: "“" "”" "‘" "’"
}
small
{
  font-size: 80%
}
sub
{
  bottom: -.25em
}
sup
{
  top: -.3em
}
svg:not(:root)
{
  overflow: hidden
}
fieldset
{
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}
legend
{
  padding: 0
}
button,input,select,textarea
{
  font-family: inherit;
  font-size: 100%;
  margin: 0
}
button,input
{
  line-height: normal
}
button,select
{
  text-transform: none
}
button,html input[type=button],input[type=reset],input[type=submit]
{
  -webkit-appearance: button;
  cursor: pointer
}
button[disabled],html input[disabled]
{
  cursor: default
}
.switch i,a
{
  cursor: pointer
}
input[type=checkbox],input[type=radio]
{
  box-sizing: border-box;
  padding: 0
}
input[type=search]
{
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration
{
  -webkit-appearance: none
}
button::-moz-focus-inner,input::-moz-focus-inner
{
  border: 0;
  padding: 0
}
textarea
{
  overflow: auto;
  vertical-align: top
}
.button-group button,.dropdown-menu,.inner,.switch i
{
  vertical-align: middle
}
table
{
  border-collapse: collapse;
  border-spacing: 0
}
@font-face
{
  font-family: "Museo Sans";
  src: url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-100.eot);
  src: local("☺︎"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-100.eot?#iefix) format("embedded-opentype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-100.woff) format("woff"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-100.ttf) format("truetype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-100.svg#b757b597a858713e9a4caca0d1b452d4) format("svg");
  font-style: normal;
  font-weight: 100
}
@font-face
{
  font-family: "Museo Sans";
  src: url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-300.eot);
  src: local("☺︎"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-300.eot?#iefix) format("embedded-opentype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-300.woff) format("woff"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-300.ttf) format("truetype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-300.svg#83308de0ca4237e6cd44fbae61d13495) format("svg");
  font-style: normal;
  font-weight: 300
}
@font-face
{
  font-family: "Museo Sans";
  src: url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-500.eot);
  src: local("☺︎"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-500.eot?#iefix) format("embedded-opentype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-500.woff) format("woff"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-500.ttf) format("truetype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-500.svg#def45dfa0767cb06d134930a9f004794) format("svg");
  font-style: normal;
  font-weight: 500
}
@font-face
{
  font-family: "Museo Sans";
  src: url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-700.eot);
  src: local("☺︎"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-700.eot?#iefix) format("embedded-opentype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-700.woff) format("woff"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-700.ttf) format("truetype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-700.svg#c3e57fb2aade37c692a4a2f96a39f204) format("svg");
  font-style: normal;
  font-weight: 700
}
@font-face
{
  font-family: "Museo Sans";
  src: url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-900.eot);
  src: local("☺︎"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-900.eot?#iefix) format("embedded-opentype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-900.woff) format("woff"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-900.ttf) format("truetype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-900.svg#99e9df93c781742fabc74f826ab8431f) format("svg");
  font-style: normal;
  font-weight: 900
}
@font-face
{
  font-family: "Museo Sans";
  src: url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-Italic-100.eot);
  src: local("☺︎"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-Italic-100.woff) format("woff"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-Italic-100.ttf) format("truetype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-Italic-100.svg) format("svg");
  font-weight: 100;
  font-style: italic
}
@font-face
{
  font-family: "Museo Sans";
  src: url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-Italic-300.eot);
  src: local("☺︎"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-Italic-300.woff) format("woff"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-Italic-300.ttf) format("truetype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-Italic-300.svg) format("svg");
  font-weight: 300;
  font-style: italic
}
@font-face
{
  font-family: "Museo Sans";
  src: url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-Italic-500.eot);
  src: local("☺︎"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-Italic-500.woff) format("woff"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-Italic-500.ttf) format("truetype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-Italic-500.svg) format("svg");
  font-weight: 500;
  font-style: italic
}
@font-face
{
  font-family: "Museo Sans";
  src: url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-Italic-700.eot);
  src: local("☺︎"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-Italic-700.woff) format("woff"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-Italic-700.ttf) format("truetype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/MuseoSans-Italic-700.svg) format("svg");
  font-weight: 700;
  font-style: italic
}
@font-face
{
  font-family: Bariol;
  src: url(https://d1my81jgdt4emn.cloudfront.net/fonts/fonts/Bariol_Thin.eot);
  src: local("☺︎"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/Bariol_Thin.eot?#iefix) format("embedded-opentype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/Bariol_Thin.woff) format("woff"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/Bariol_Thin.ttf) format("truetype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/Bariol_Thin.svg#a66bfc814a7024505b82780ed96be4fb) format("svg");
  font-style: normal;
  font-weight: 200
}
@font-face
{
  font-family: Bariol;
  src: url(https://d1my81jgdt4emn.cloudfront.net/fonts/Bariol_Light.eot);
  src: local("☺︎"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/Bariol_Light.eot?#iefix) format("embedded-opentype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/Bariol_Light.woff) format("woff"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/Bariol_Light.ttf) format("truetype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/Bariol_Light.svg#4c3c7ba7e70ad8fe925f149fe83c11d7) format("svg");
  font-style: normal;
  font-weight: 300
}
@font-face
{
  font-family: Bariol;
  src: url(https://d1my81jgdt4emn.cloudfront.net/fonts/Bariol-Regular.eot);
  src: local("☺︎"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/Bariol-Regular.eot?#iefix) format("embedded-opentype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/Bariol-Regular.woff) format("woff"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/Bariol-Regular.ttf) format("truetype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/Bariol-Regular.svg#d67becf5de89115118c397ed4bae7ff0) format("svg");
  font-style: normal;
  font-weight: 400
}
@font-face
{
  font-family: Bariol;
  src: url(https://d1my81jgdt4emn.cloudfront.net/fonts/Bariol_Bold.eot);
  src: local("☺︎"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/Bariol_Bold.eot?#iefix) format("embedded-opentype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/Bariol_Bold.woff) format("woff"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/Bariol_Bold.ttf) format("truetype"),url(https://d1my81jgdt4emn.cloudfront.net/fonts/Bariol_Bold.svg#919e9885cec3eeabc9f721776998b7ef) format("svg");
  font-style: normal;
  font-weight: 700
}
.container
{
  max-width: 72.8em;
  margin: 0 auto;
  padding: 0 1em
}
.span-1
{
  margin-right: 2.35765%;
  width: 6.17215%
}
.span-1:last-child
{
  margin-right: 0
}
.span-1.shift-1
{
  margin-left: 8.5298%
}
.span-1.shift-2
{
  margin-left: 17.05961%
}
.span-1.shift-3
{
  margin-left: 25.58941%
}
.span-1.shift-4
{
  margin-left: 34.11922%
}
.span-1.shift-5
{
  margin-left: 42.64902%
}
.span-1.shift-6
{
  margin-left: 51.17883%
}
.span-1.shift-7
{
  margin-left: 59.70863%
}
.span-1.shift-8
{
  margin-left: 68.23843%
}
.span-1.shift-9
{
  margin-left: 76.76824%
}
.span-1.shift-10
{
  margin-left: 85.29804%
}
.span-1.shift-11
{
  margin-left: 93.82785%
}
.span-1.shift-12
{
  margin-left: 102.35765%
}
.span-2
{
  margin-right: 2.35765%;
  width: 14.70196%
}
.span-2:last-child
{
  margin-right: 0
}
.span-2.shift-1
{
  margin-left: 8.5298%
}
.span-2.shift-2
{
  margin-left: 17.05961%
}
.span-2.shift-3
{
  margin-left: 25.58941%
}
.span-2.shift-4
{
  margin-left: 34.11922%
}
.span-2.shift-5
{
  margin-left: 42.64902%
}
.span-2.shift-6
{
  margin-left: 51.17883%
}
.span-2.shift-7
{
  margin-left: 59.70863%
}
.span-2.shift-8
{
  margin-left: 68.23843%
}
.span-2.shift-9
{
  margin-left: 76.76824%
}
.span-2.shift-10
{
  margin-left: 85.29804%
}
.span-2.shift-11
{
  margin-left: 93.82785%
}
.span-2.shift-12
{
  margin-left: 102.35765%
}
.span-3
{
  margin-right: 2.35765%;
  width: 23.23176%
}
.span-3:last-child
{
  margin-right: 0
}
.span-3.shift-1
{
  margin-left: 8.5298%
}
.span-3.shift-2
{
  margin-left: 17.05961%
}
.span-3.shift-3
{
  margin-left: 25.58941%
}
.span-3.shift-4
{
  margin-left: 34.11922%
}
.span-3.shift-5
{
  margin-left: 42.64902%
}
.span-3.shift-6
{
  margin-left: 51.17883%
}
.span-3.shift-7
{
  margin-left: 59.70863%
}
.span-3.shift-8
{
  margin-left: 68.23843%
}
.span-3.shift-9
{
  margin-left: 76.76824%
}
.span-3.shift-10
{
  margin-left: 85.29804%
}
.span-3.shift-11
{
  margin-left: 93.82785%
}
.span-3.shift-12
{
  margin-left: 102.35765%
}
.span-4
{
  margin-right: 2.35765%;
  width: 31.76157%
}
.span-4:last-child
{
  margin-right: 0
}
.span-4.shift-1
{
  margin-left: 8.5298%
}
.span-4.shift-2
{
  margin-left: 17.05961%
}
.span-4.shift-3
{
  margin-left: 25.58941%
}
.span-4.shift-4
{
  margin-left: 34.11922%
}
.span-4.shift-5
{
  margin-left: 42.64902%
}
.span-4.shift-6
{
  margin-left: 51.17883%
}
.span-4.shift-7
{
  margin-left: 59.70863%
}
.span-4.shift-8
{
  margin-left: 68.23843%
}
.span-4.shift-9
{
  margin-left: 76.76824%
}
.span-4.shift-10
{
  margin-left: 85.29804%
}
.span-4.shift-11
{
  margin-left: 93.82785%
}
.span-4.shift-12
{
  margin-left: 102.35765%
}
.span-5
{
  margin-right: 2.35765%;
  width: 40.29137%
}
.span-5:last-child
{
  margin-right: 0
}
.span-5.shift-1
{
  margin-left: 8.5298%
}
.span-5.shift-2
{
  margin-left: 17.05961%
}
.span-5.shift-3
{
  margin-left: 25.58941%
}
.span-5.shift-4
{
  margin-left: 34.11922%
}
.span-5.shift-5
{
  margin-left: 42.64902%
}
.span-5.shift-6
{
  margin-left: 51.17883%
}
.span-5.shift-7
{
  margin-left: 59.70863%
}
.span-5.shift-8
{
  margin-left: 68.23843%
}
.span-5.shift-9
{
  margin-left: 76.76824%
}
.span-5.shift-10
{
  margin-left: 85.29804%
}
.span-5.shift-11
{
  margin-left: 93.82785%
}
.span-5.shift-12
{
  margin-left: 102.35765%
}
.span-6
{
  margin-right: 2.35765%;
  width: 48.82117%
}
.span-6:last-child
{
  margin-right: 0
}
.span-6.shift-1
{
  margin-left: 8.5298%
}
.span-6.shift-2
{
  margin-left: 17.05961%
}
.span-6.shift-3
{
  margin-left: 25.58941%
}
.span-6.shift-4
{
  margin-left: 34.11922%
}
.span-6.shift-5
{
  margin-left: 42.64902%
}
.span-6.shift-6
{
  margin-left: 51.17883%
}
.span-6.shift-7
{
  margin-left: 59.70863%
}
.span-6.shift-8
{
  margin-left: 68.23843%
}
.span-6.shift-9
{
  margin-left: 76.76824%
}
.span-6.shift-10
{
  margin-left: 85.29804%
}
.span-6.shift-11
{
  margin-left: 93.82785%
}
.span-6.shift-12
{
  margin-left: 102.35765%
}
.span-7
{
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%
}
.span-7:last-child
{
  margin-right: 0
}
.span-7.shift-1
{
  margin-left: 8.5298%
}
.span-7.shift-2
{
  margin-left: 17.05961%
}
.span-7.shift-3
{
  margin-left: 25.58941%
}
.span-7.shift-4
{
  margin-left: 34.11922%
}
.span-7.shift-5
{
  margin-left: 42.64902%
}
.span-7.shift-6
{
  margin-left: 51.17883%
}
.span-7.shift-7
{
  margin-left: 59.70863%
}
.span-7.shift-8
{
  margin-left: 68.23843%
}
.span-7.shift-9
{
  margin-left: 76.76824%
}
.span-7.shift-10
{
  margin-left: 85.29804%
}
.span-7.shift-11
{
  margin-left: 93.82785%
}
.span-7.shift-12
{
  margin-left: 102.35765%
}
.span-8
{
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%
}
.span-8:last-child
{
  margin-right: 0
}
.span-8.shift-1
{
  margin-left: 8.5298%
}
.span-8.shift-2
{
  margin-left: 17.05961%
}
.span-8.shift-3
{
  margin-left: 25.58941%
}
.span-8.shift-4
{
  margin-left: 34.11922%
}
.span-8.shift-5
{
  margin-left: 42.64902%
}
.span-8.shift-6
{
  margin-left: 51.17883%
}
.span-8.shift-7
{
  margin-left: 59.70863%
}
.span-8.shift-8
{
  margin-left: 68.23843%
}
.span-8.shift-9
{
  margin-left: 76.76824%
}
.span-8.shift-10
{
  margin-left: 85.29804%
}
.span-8.shift-11
{
  margin-left: 93.82785%
}
.span-8.shift-12
{
  margin-left: 102.35765%
}
.span-9
{
  margin-right: 2.35765%;
  width: 74.41059%
}
.span-9:last-child
{
  margin-right: 0
}
.span-9.shift-1
{
  margin-left: 8.5298%
}
.span-9.shift-2
{
  margin-left: 17.05961%
}
.span-9.shift-3
{
  margin-left: 25.58941%
}
.span-9.shift-4
{
  margin-left: 34.11922%
}
.span-9.shift-5
{
  margin-left: 42.64902%
}
.span-9.shift-6
{
  margin-left: 51.17883%
}
.span-9.shift-7
{
  margin-left: 59.70863%
}
.span-9.shift-8
{
  margin-left: 68.23843%
}
.span-9.shift-9
{
  margin-left: 76.76824%
}
.span-9.shift-10
{
  margin-left: 85.29804%
}
.span-9.shift-11
{
  margin-left: 93.82785%
}
.span-9.shift-12
{
  margin-left: 102.35765%
}
.span-10
{
  margin-right: 2.35765%;
  width: 82.94039%
}
.span-10:last-child
{
  margin-right: 0
}
.span-10.shift-1
{
  margin-left: 8.5298%
}
.span-10.shift-2
{
  margin-left: 17.05961%
}
.span-10.shift-3
{
  margin-left: 25.58941%
}
.span-10.shift-4
{
  margin-left: 34.11922%
}
.span-10.shift-5
{
  margin-left: 42.64902%
}
.span-10.shift-6
{
  margin-left: 51.17883%
}
.span-10.shift-7
{
  margin-left: 59.70863%
}
.span-10.shift-8
{
  margin-left: 68.23843%
}
.span-10.shift-9
{
  margin-left: 76.76824%
}
.span-10.shift-10
{
  margin-left: 85.29804%
}
.span-10.shift-11
{
  margin-left: 93.82785%
}
.span-10.shift-12
{
  margin-left: 102.35765%
}
.span-11
{
  margin-right: 2.35765%;
  width: 91.4702%
}
.span-11:last-child
{
  margin-right: 0
}
.span-11.shift-1
{
  margin-left: 8.5298%
}
.span-11.shift-2
{
  margin-left: 17.05961%
}
.span-11.shift-3
{
  margin-left: 25.58941%
}
.span-11.shift-4
{
  margin-left: 34.11922%
}
.span-11.shift-5
{
  margin-left: 42.64902%
}
.span-11.shift-6
{
  margin-left: 51.17883%
}
.span-11.shift-7
{
  margin-left: 59.70863%
}
.span-11.shift-8
{
  margin-left: 68.23843%
}
.span-11.shift-9
{
  margin-left: 76.76824%
}
.span-11.shift-10
{
  margin-left: 85.29804%
}
.span-11.shift-11
{
  margin-left: 93.82785%
}
.span-11.shift-12
{
  margin-left: 102.35765%
}
.span-12
{
  margin-right: 2.35765%;
  width: 100%
}
.span-12:last-child
{
  margin-right: 0
}
.span-12.shift-1
{
  margin-left: 8.5298%
}
.span-12.shift-2
{
  margin-left: 17.05961%
}
.span-12.shift-3
{
  margin-left: 25.58941%
}
.span-12.shift-4
{
  margin-left: 34.11922%
}
.span-12.shift-5
{
  margin-left: 42.64902%
}
.span-12.shift-6
{
  margin-left: 51.17883%
}
.span-12.shift-7
{
  margin-left: 59.70863%
}
.span-12.shift-8
{
  margin-left: 68.23843%
}
.span-12.shift-9
{
  margin-left: 76.76824%
}
.span-12.shift-10
{
  margin-left: 85.29804%
}
.span-12.shift-11
{
  margin-left: 93.82785%
}
.span-12.shift-12
{
  margin-left: 102.35765%
}
.row::after
{
  clear: both;
  content: "";
  display: table
}
.button,button
{
  font-family: Bariol,sans-serif;
  color: #fff;
  padding: .6rem 1.5rem;
  transition: .3s;
  box-shadow: none;
  border-radius: .3rem;
  display: inline-block;
  border: 1px solid transparent
}
.cta-bar h1,p
{
  font-weight: 300
}
.button:active,button:active
{
  transform: none
}
.button:disabled,button:disabled
{
  background-color: #A6A6A6!important
}
.button:focus,button:focus
{
  outline: 0;
  border: 1px solid #00ACD7
}
.button.sm-button,button.sm-button
{
  padding: .3rem 1rem
}
button.shadow-button
{
  box-shadow: 2px 2px 0 rgba(80,80,80,.7)
}
button.shadow-button:active
{
  -webkit-transform: translate3d(2px,2px,0);
  transform: translate3d(2px,2px,0);
  box-shadow: none;
  transition: 0
}
.button-with-chevron
{
  padding-right: 2em;
  position: relative
}
.button-with-chevron::after
{
  position: absolute;
  right: .6em;
  content: "";
  font-family: FontAwesome;
  font-weight: 300
}
.pagination::after,.switch i:before
{
  content: ""
}
.button-group button
{
  margin-right: -4px
}
.button-group>.button:first-child,.button-group>button:first-child
{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}
.button-group>.button:last-child,.button-group>button:last-child
{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}
.button-group button+button
{
  margin-left: -2px
}
button.hidden
{
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
  outline: 0!important;
  border: 0!important
}
.pill-button {
  border-radius: 2.8em!important;
  color: #20B0E5!important;
}
.circle-button {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  padding: .8em
}
.orange-button {
  background-color: #F70!important;
  color: #fff!important
}
.orange-button:active,.orange-button:hover {
  background-color: #cc5f00!important
}
.yellow-button {
  background-color: #F9D600;
  color: #666!important
}
.yellow-button:active,.yellow-button:hover {
  background-color: #ffe023
}
.teacher-blue-button {
  background-color: #6ECFDB;
  color: #fff!important
}
.teacher-blue-button:active,.teacher-blue-button:hover
{
  background-color: ligthen(#6ECFDB,8%)
}
.google-red-button
{
  background-color: #dd4b39;
  color: #fff!important
}
.google-red-button:active,.google-red-button:hover
{
  background-color: #c23321
}
.facebook-blue-button
{
  background-color: #3B5998;
  color: #fff!important
}
.facebook-blue-button:active,.facebook-blue-button:hover
{
  background-color: #2d4373
}
.orange-outline-button
{
  background-color: #fff;
  color: #F70;
  border: .3em solid #F70
}
.orange-outline-button:hover
{
  background-color: #F70;
  color: #fff
}
.grey-outline-button
{
  background-color: #fff;
  color: #333;
  border: 1px solid #333
}
.grey-outline-button:hover
{
  background-color: #f0f8ff
}
.green-button
{
  background-color: #d0f8ea;
  color: #15b58e!important
}
.green-button:active,.green-button:hover
{
  background-color: #a4f1d6
}
.light-orange-button
{
  background-color: #fe956a;
  color: #fff!important
}
.light-orange-button:active,.light-orange-button:hover
{
  background-color: #fe8351
}
.white-button
{
  background-color: #fff;
  color: #F70!important
}
.white-button:active,.white-button:hover
{
  background-color: #e6e6e6
}
body,html
{
  margin: 0
}
html
{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Museo Sans
}
h1,h2,h3,h4,h5,h6,header .portal-name,header nav li
{
  font-family: Bariol
}
a
{
  -webkit-transition: color linear 300ms;
  transition: color linear 300ms
}
p
{
  font-size: .9rem
}
.cta-bar
{
  overflow: auto
}
.cta-bar.red-cta-bar
{
  background-color: #ea6071
}
.cta-bar h1
{
  color: #fff;
  font-size: 36px;
  line-height: 44px;
  padding: 0 5em
}
.signup-cta
{
  background-color: #efefef;
  padding: 2em 0;
  overflow: auto
}
.signup-cta button
{
  font-size: 1.5em;
  margin: 0 auto;
  display: block;
  padding: .5em 3em
}
.signup-cta h1
{
  color: #75bdf2;
  margin-top: 0
}
.form-group button,.form-group input
{
  margin-top: .5em;
  margin-bottom: .5em;
  height: 34px
}
.outer
{
  display: table;
  width: 100%;
  height: 100%
}
.outer.absolute-outer
{
  position: fixed;
  z-index: 999
}
.outer.dark-outer
{
  background-color: rgba(0,0,0,.8)
}
.inner
{
  display: table-cell;
  margin: 0 auto
}
.ng-cloak,.x-ng-cloak,[
  data-ng-cloak],[
  ng-cloak],[
  ng\:cloak],[
  x-ng-cloak]
{
  display: none!important
}
.flash
{
  font-weight: 500;
  padding: 1em;
  border-radius: .5em;
  margin: 1em 0
}
.flash .error
{
  background-color: #ffded8;
  color: #991b16
}
.flash .error li,.flash .error p
{
  font-weight: 500;
  color: #991b16
}
.flash .success
{
  background-color: #eeffdf;
  color: #166f16
}
.flash .success li,.flash .success p
{
  font-weight: 500;
  color: #166f16
}
.flash .info
{
  background-color: #FDF0D6;
  color: #A08109
}
.flash .info li,.flash .info p
{
  font-weight: 500;
  color: #A08109
}
.fade-in
{
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms
}
.fade-in.active
{
  opacity: 1
}
.fade-ng-cloak
{
  opacity: 1;
  -webkit-filter: none;
  filter: none;
  -ms-filter: none;
  -webkit-transition: opacity .5s;
  transition: opacity .5s
}
.fade-ng-cloak[ng-cloak]
{
  display: block!important;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0)
}
.fade-ng-cloak.ng-binding,.fade-ng-cloak.ng-cloak
{
  opacity: 0;
  transition: opacity 800ms ease-in-out
}
.fade-ng-cloak.ng-binding
{
  opacity: 1
}
.switch input
{
  display: none
}
.switch i
{
  display: inline-block;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  border-radius: 24px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);
  border: 3px solid #fff;
  padding: 3px 24px 3px 3px
}
.switch i:before
{
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.5)
}
.switch :checked+i
{
  padding-right: 3px;
  padding-left: 24px;
  -moz-box-shadow: inset 0 0 100px #5DBA25;
  -webkit-box-shadow: inset 0 0 100px #5DBA25;
  box-shadow: inset 0 0 100px #5DBA25
}
.orange-font
{
  color: #FF742E!important
}
.dropdown
{
  position: relative;
  margin-right: 1em
}
.dropdown.open>.dropdown-menu
{
  display: block
}
.dropdown-menu
{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -moz-box-shadow: 0 6px 12px 0 rgba(0,0,0,.175);
  -webkit-box-shadow: 0 6px 12px 0 rgba(0,0,0,.175);
  box-shadow: 0 6px 12px 0 rgba(0,0,0,.175)
}
.dropdown-menu.active,.pagination
{
  display: block
}
.dropdown-menu>li>a
{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857;
  color: #333;
  white-space: nowrap
}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover
{
  background-color: #CDF1FF;
  outline: 0
}
.dropdown-menu>li>a.active
{
  background-color: #00ACD7;
  color: #fff
}
.pagination
{
  padding: 0;
  margin: 20px 0;
  border-radius: 4px
}
.pagination::after
{
  clear: both;
  display: table
}
.pagination li
{
  list-style: none
}
.pagination li>a
{
  position: relative;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  margin-left: -1px;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd
}
.pagination li>a:focus,.pagination li>a:hover
{
  z-index: 3;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd
}
.pagination li:first-child>a
{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px
}
.pagination li:last-child>a
{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px
}
.pagination li.active>a
{
  background-color: #00ACD7;
  color: #fff;
  border-color: #00ACD7
}
.header-spacer
{
  height: 62px;
  width: 100%
}
header
{
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 1024px;
  z-index: 21
}
header .container
{
  padding-bottom: 0;
  padding-top: 0;
  overflow: initial
}
header .logo
{
  background-image: url(https://d1my81jgdt4emn.cloudfront.net/images/brand/header_logo.png);
  height: 57px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: block;
  vertical-align: top;
  margin-left: 0;
  width: 8.3em;
  background-size: contain
}
header .logo-wrap,header .portal-name,header nav,header nav li
{
  vertical-align: middle;
  display: inline-block
}
header .logo-wrap
{
  padding: 10px;
  margin-right: 25px
}
header .portal-name
{
  font-weight: 400;
  font-size: 24px;
  color: #75bdf2;
  margin-right: 50px
}
header .portal-name.active
{
  color: #0cb4f2
}
header a
{
  color: #75bdf2;
  font-weight: 700
}
header a.active
{
  color: #d5646f
}
header a.active:hover
{
  background-color: transparent
}
header a:focus
{
  outline: 0
}
header nav
{
  background-color: #DCECF2;
  border-radius: 100px;
  overflow: hidden
}
header nav ul
{
  margin: 0;
  padding: 0
}
header nav li
{
  text-align: center;
  list-style: none
}
header nav li a
{
  display: block;
  padding: 7px 20px;
  color: #00ACD7
}
header nav li a:hover
{
  background-color: #e3f4f7
}
header .user-menu-options
{
  display: inline-block;
  text-align: left;
  list-style: none;
  font-weight: 300
}
header .user-menu-option
{
  line-height: 1.7
}
header .user-menu-option>a
{
  color: #fff
}
header .user-menu-option>a:hover
{
  color: #943200
}
header .user-name
{
  margin-bottom: .5em
}
header .header-sign-in.menu-open
{
  max-height: 10em;
  background-color: #FF742E
}
header .header-sign-in.menu-open li
{
  color: #fff
}
header .header-sign-in.menu-open .user-menu-chevron
{
  -webkit-transform: rotateZ(-180deg);
  transform: rotateZ(-180deg)
}
header .user-avatar
{
  display: inline-block;
  width: 1.5em;
  vertical-align: middle;
  border-radius: .4em;
  position: relative;
  bottom: .15em
}
header .user-name-name
{
  margin-left: .4em;
  overflow: hidden;
  vertical-align: top;
  display: inline-block
}
.header-sign-up,header .user-name-name i
{
  vertical-align: middle
}
header .user-name-name span
{
  text-overflow: ellipsis;
  max-width: 5.5em;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle
}
.header-sign-in
{
  float: right;
  font-size: .85em;
  text-align: center;
  border-radius: 0 0 .7em .7em;
  max-height: 2.2em;
  color: #666;
  padding: .5em;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #DAE1E3;
  -webkit-transition: all .3s;
  transition: all .3s;
  overflow: hidden;
  cursor: pointer;
  width: 10em
}
.header-sign-in li
{
  list-style: none
}
.header-sign-in ul
{
  margin: 0;
  padding: 0
}
.header-sign-in.signed-in
{
  background-color: #666;
  color: #fff;
  font-weight: 500
}
.header-sign-in.menu-open
{
  -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 8px 0 rgba(0,0,0,.5)
}
.header-sign-in-spacer
{
  width: 8.5em;
  height: 1px;
  position: relative;
  float: right
}
.header-sign-up
{
  display: inline-block;
  margin-left: 3em;
  border-radius: 2em;
  overflow: hidden
}
.header-sign-up button
{
  height: 32px;
  padding: 0 1em;
  border-radius: 0;
  color: #00ACD7;
  background-color: #fff
}
.header-sign-up button:hover
{
  background-color: #f2f2f2
}
.header-sign-up button:focus
{
  outline: 0;
  border: 1px solid transparent
}
.header-shopping-cart-spacer
{
  float: right;
  position: relative;
  height: 1px
}
.header-store-button
{
  top: 20px;
  position: relative
}
.footer-section ul
{
  margin: 0;
  padding: 0
}
.footer-section .footer-top
{
  padding-top: 1em
}
.footer-section .footer-top a,.footer-section .footer-top li,.footer-section .footer-top p
{
  color: #666
}
.footer-section .footer-top p
{
  margin: 0 0 1em;
  font-weight: 300
}
.footer-section .footer-top p a
{
  color: #00ACD7
}
.footer-section .footer-link-section
{
  font-size: 1em;
  vertical-align: top;
  margin-bottom: .5em
}
.footer-section .footer-link-section li
{
  line-height: 1.6;
  list-style: none
}
.footer-section .footer-link-section a
{
  text-decoration: none;
  font-size: .85em;
  font-weight: 300
}
.footer-section .footer-link-section a:hover
{
  text-decoration: underline
}
.footer-section .footer-link-section ul
{
  margin-left: 1em
}
.footer-section .retail-locations
{
  margin-top: 1.5em;
  color: #666;
  display: none
}
.footer-section .retail-locations a
{
  display: inline-block;
  vertical-align: bottom
}
.footer-section .retail-locations #apple-store
{
  position: relative;
  bottom: .8em;
  left: 2em
}
.footer-section .footer-newsletter
{
  position: relative
}
.footer-section .footer-newsletter .footer-link-section-title
{
  text-decoration: none
}
.footer-section .footer-newsletter form
{
  margin: 0 1em
}
.footer-section .footer-newsletter .dob-button input
{
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%
}
.footer-section .footer-newsletter .dob-button input:last-child
{
  margin-right: 0
}
.footer-section .footer-newsletter .dob-button button
{
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%
}
.footer-section .footer-newsletter .dob-button button:last-child
{
  margin-right: 0
}
.footer-section .footer-newsletter small
{
  margin: .6em 0;
  display: block;
  color: #666
}
.footer-section .footer-container
{
  min-height: 13em;
  margin-top: -13em;
  clear: both;
  position: relative;
  background-color: #fff;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out
}
.footer-section .footer-container.nav-slide-out
{
  z-index: 51
}
.footer-section .footer-container .container
{
  padding: 0
}
.footer-section .footer-link-section-title
{
  font-weight: 500;
  line-height: 1.8;
  color: #333;
  padding: .2em 0;
  margin-left: 1em;
  text-decoration: underline
}
.footer-section .footer-bottom
{
  margin-top: 2em;
  margin-bottom: 7em
}
.footer-section .newsletter-error
{
  padding: .5em;
  border-radius: .5em;
  margin: 1em 0
}
.footer-section .newsletter-input-container
{
  margin: 0 1em
}
.footer-section .social-link
{
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 6px;
  border-width: 2px;
  width: 2.5em;
  height: 2.5em
}
.footer-section .social-link i
{
  display: block;
  text-align: center;
  font-size: 1.3em
}
.footer-section .social-link-facebook
{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  color: #0060a2;
  border: 3px solid #0060a2
}
.footer-section .social-link-facebook:before
{
  background: #0060a2;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.footer-section .social-link-facebook:before,.footer-section .social-link-youtube:before
{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition-timing-function: ease-out
}
.footer-section .social-link-facebook:active,.footer-section .social-link-facebook:focus,.footer-section .social-link-facebook:hover
{
  color: #fff
}
.footer-section .social-link-facebook:active:before,.footer-section .social-link-facebook:focus:before,.footer-section .social-link-facebook:hover:before
{
  -webkit-transform: scaleY(1);
  transform: scaleY(1)
}
.footer-section .social-link-youtube
{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  color: #e52f29;
  border: 3px solid #e52f29
}
.footer-section .social-link-youtube:before
{
  background: #e52f29;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.footer-section .social-link-youtube:active,.footer-section .social-link-youtube:focus,.footer-section .social-link-youtube:hover
{
  color: #fff
}
.footer-section .social-link-youtube:active:before,.footer-section .social-link-youtube:focus:before,.footer-section .social-link-youtube:hover:before
{
  -webkit-transform: scaleY(1);
  transform: scaleY(1)
}
.footer-section .social-link-twitter
{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  color: #00aae2;
  border: 3px solid #00aae2
}
.footer-section .social-link-twitter:before
{
  background: #00aae2;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.footer-section .social-link-pinterest:before,.footer-section .social-link-twitter:before
{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition-timing-function: ease-out
}
.footer-section .social-link-twitter:active,.footer-section .social-link-twitter:focus,.footer-section .social-link-twitter:hover
{
  color: #fff
}
.footer-section .social-link-twitter:active:before,.footer-section .social-link-twitter:focus:before,.footer-section .social-link-twitter:hover:before
{
  -webkit-transform: scaleY(1);
  transform: scaleY(1)
}
.footer-section .social-link-pinterest
{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  color: #dc1b20;
  border: 3px solid #dc1b20
}
.footer-section .social-link-pinterest:before
{
  background: #dc1b20;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.footer-section .social-link-pinterest:active,.footer-section .social-link-pinterest:focus,.footer-section .social-link-pinterest:hover
{
  color: #fff
}
.footer-section .social-link-pinterest:active:before,.footer-section .social-link-pinterest:focus:before,.footer-section .social-link-pinterest:hover:before
{
  -webkit-transform: scaleY(1);
  transform: scaleY(1)
}
.footer-section .social-link-instagram
{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  color: #42749d;
  border: 3px solid #42749d
}
.footer-section .social-link-instagram:before
{
  background: #42749d;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.footer-section .social-link-blog:before,.footer-section .social-link-instagram:before
{
  z-index: -1;
  right: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-transition-timing-function: ease-out
}
.footer-section .social-link-instagram:active,.footer-section .social-link-instagram:focus,.footer-section .social-link-instagram:hover
{
  color: #fff
}
.footer-section .social-link-instagram:active:before,.footer-section .social-link-instagram:focus:before,.footer-section .social-link-instagram:hover:before
{
  -webkit-transform: scaleY(1);
  transform: scaleY(1)
}
.footer-section .social-link-blog
{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  color: #ff7c0a;
  border: 3px solid #ff7c0a;
  width: 8em
}
.footer-section .social-link-blog:before
{
  background: #ff7c0a;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.footer-section .social-link-blog:active,.footer-section .social-link-blog:focus,.footer-section .social-link-blog:hover
{
  color: #fff
}
.footer-section .social-link-blog:active:before,.footer-section .social-link-blog:focus:before,.footer-section .social-link-blog:hover:before
{
  -webkit-transform: scaleY(1);
  transform: scaleY(1)
}
.footer-section .social-link-blog::after
{
  background-image: url(https://d1my81jgdt4emn.cloudfront.net/images/brand/w_logo.png);
  background-repeat: no-repeat;
  background-size: 2em;
  content: "";
  height: 3em;
  width: 2.5em;
  position: absolute;
  left: .7em;
  top: .55em
}
.footer-section .social-link-blog span
{
  padding: 0 0 0 3.2em;
  font-family: Bariol;
  font-weight: 700;
  font-size: 1em
}
.footer-section .legal-stuff,.school-listing .school-name
{
  line-height: 1.6;
  font-weight: 300
}
.footer-section .social-link-blog:active::after,.footer-section .social-link-blog:focus::after,.footer-section .social-link-blog:hover::after
{
  background-image: url(https://d1my81jgdt4emn.cloudfront.net/images/brand/w_logo_white.png)
}
.footer-section .legal-stuff
{
  margin-left: 1em
}
.footer-section .legal-stuff a
{
  color: #666;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s
}
.footer-section .legal-stuff a:hover
{
  color: #00ACD7
}
.footer-section .copyright,.footer-section .tos
{
  display: inline-block;
  color: #666
}
.footer-section .tos
{
  margin-right: 3em
}
.footer-section .social-links
{
  display: table;
  border-collapse: separate;
  float: left;
  margin: 0 1em;
  border-spacing: 6px 0
}
.footer-section .newsletter-input
{
  height: 2.5em;
  border-radius: .3em;
  padding: 0 1em;
  border: none;
  background-color: #d1ebff;
  box-sizing: border-box;
  width: 100%;
  font-size: 1em
}
.footer-section .newsletter-input:disabled
{
  background-color: #f2f2f2
}
.footer-section .newsletter-button
{
  height: 2.5em;
  border-radius: .3em;
  background-color: #00ACD7;
  width: 30%;
  position: relative
}
.footer-section .newsletter-button:disabled
{
  background-color: #c3c3c3
}
.footer-section .desktop-team-founder
{
  display: none
}
.school-listing
{
  text-align: center;
  padding-top: 100px
}
.map-info-window ul,.school-listing ul
{
  margin: 0;
  padding: 0
}
.school-listing .section-title
{
  margin-top: -57px;
  color: #75bdf2
}
.school-listing>li
{
  margin-bottom: 23px
}
.school-listing li
{
  list-style: none
}
.school-listing .region-name
{
  margin: 0
}
.school-listing-usa
{
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2
}
.school-listing-usa>li
{
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid
}
.map-info-window a
{
  color: #00ACD7
}
.map-info-window a:hover
{
  color: #0bceff
}
.map-info-window li
{
  list-style: none;
  margin: .3em 0
}
.feature-cta-bar
{
  background-color: #f5efe9
}
.feature-cta-bar h1
{
  color: #00ACD7;
  font-size: 26px;
  font-weight: 700
}
.hero h1,.hero p
{
  color: #fff;
  margin: 0
}
.feature-cta-bar .button
{
  background-color: #00ACD7
}
.feature-cta-bar .button:hover
{
  background-color: #0083a4
}
.hero {
  background-color: #333;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/hero.jpg);
}
.hero h1
{
  font-size: 56px
}
.hero p
{
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6
}
.hero .text
{
  padding-top: 240px;
  padding-left: 80px;
  margin-right: -2em;
  padding-bottom: 82px
}
.hero .request-info-modal
{
  float: right;
  margin: 50px 0
}
.junebug
{
  padding: 45px 0
}
.junebug img
{
  display: block;
  margin: 0 auto
}
.junebug .text
{
  text-align: center
}
.junebug .text p
{
  color: #666;
  font-size: .8em;
  font-weight: 300;
  line-height: 1.4rem
}
.junebug .item
{
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 28.34964%;
  margin-left: 5.11788%
}
.junebug .item:last-child
{
  margin-right: 0
}
.junebug .item:first-child
{
  margin-left: 0
}
.junebug .item:nth-of-type(1) .header
{
  color: #00a4e0
}
.junebug .item:nth-of-type(2) .header
{
  color: #995da5
}
.junebug .item:nth-of-type(3) .header
{
  color: #ea6071
}
.junebug .header
{
  font-size: 1.2rem
}
.junebug .container
{
  padding: 0 2em
}
.home-quotes
{
  padding-top: 2em;
  background: #fff;
  background: -moz-linear-gradient(left,#fff 0,#f3efe9 100%);
  background: -webkit-gradient(linear,left top,right top,color-stop(0,#fff),color-stop(100%,#f3efe9));
  background: -webkit-linear-gradient(left,#fff 0,#f3efe9 100%);
  background: -o-linear-gradient(left,#fff 0,#f3efe9 100%);
  background: -ms-linear-gradient(left,#fff 0,#f3efe9 100%);
  background: linear-gradient(to right,#fff 0,#f3efe9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3efe9', GradientType=1 )
}
.home-quotes .quote
{
  padding: 50px 0;
  opacity: 1;
  height: 390px;
}
.home-quotes .quote .ng-hide-add-active,.home-quotes .quote.ng-hide,.home-quotes .quote.ng-hide-remove
{
  opacity: 0
}
.home-quotes .quote .ng-hide-add,.home-quotes .quote.ng-hide-remove-active
{
  opacity: 1
}
.home-quotes .quote.ng-hide-add-active,.home-quotes .quote.ng-hide-remove-active
{
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
  position: absolute;
  width: 100%
}
.home-quotes .quote .profile-pic
{
  width: 150px;
  height: 150px;
  padding: 3px;
  //border-radius: 50%;
  box-sizing: border-box;
  //border: 6px solid #ea6071;
  float: left
}
.home-quotes .quote .profile-pic img
{
  border-radius: 50%;
  width: 100%;
  vertical-align: bottom
}
.home-quotes .quote-quote
{
  color: #333;
  position: relative;
  font-size: 1em;
  line-height: 1.8;
  padding-right: 3rem
}
.home-quotes .quote-quote::before
{
  content: '"';
  position: absolute;
  left: -.3em
}
.home-quotes .quote-quote::after
{
  content: '"';
}
.home-quotes .author
{
  padding-top: 35px;
  color: #666;
  line-height: 1.6
}
.home-quotes .quote-body
{
  overflow: auto;
  padding-left: 25px
}
.home-quotes .author-name
{
  color: #d5646f;
  font-weight: 700;
  font-size: 1.2em
}
.home-quotes .button
{
  font-size: 1.7em;
  margin: 0 auto;
  display: block;
  width: 15em;
  text-align: center;
  position: relative;
  bottom: 1em
}
.home-quotes .dash-globe
{
  margin-bottom: -3em;
  width: 120%;
  margin-top: 1em;
  margin-left: -3em
}
.coding-curriculum{
  padding: 2em 0;
  text-align: center;
  color: #fff;
  background-color: #20B0E5
}

.coding-teachers{
  padding: 2em;
  color: #000;
  background-color: #fff;
  p {
		padding: 1em 8em 0 0;
	}
}

.getting-started .video-tile a,.getting-started h1
{
  color: #20B0E5
}
.coding-curriculum .lessons-list
{
  margin-top: 1em;
  margin-bottom: 1em
}
.coding-curriculum .button
{
  font-size: 1.5em;
  margin-bottom: .5em
}
.coding-curriculum .button i
{
  margin-right: .5em
}
.getting-started
{
  padding: 3em 0 4em;
  text-align: center;
  background-color: #F2F2F2
}
.getting-started .browse-videos-button
{
  font-size: 1.5em;
  padding: .5em 2em
}
.getting-started .video-list
{
  overflow: hidden;
  padding: .5em;
  margin: 1em -.5em 0
}
.getting-started .video-tile
{
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 1.5em
}
.getting-started .video-tile .video-preview
{
  position: relative;
  display: block;
  margin-bottom: .5em;
  border-radius: 1em;
  overflow: hidden
}
.getting-started .video-tile .video-preview img
{
  width: 100%;
  display: block;
  -moz-box-shadow: 0 0 .75em 0 rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 .75em 0 rgba(0,0,0,.2);
  box-shadow: 0 0 .75em 0 rgba(0,0,0,.2)
}
.getting-started .video-tile .video-preview i
{
  position: absolute;
  width: 2.1em;
  height: 2.1em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 3em;
  padding: .5em .5em .5em .75em;
  border: 2px solid;
  border-radius: 50%;
  color: #fff
}
.getting-started .video-tile .video-preview:hover::before
{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.2)
}
.products-pricing-wrap
{
  padding: 2em 0;
  color: #fff;
  background-color: #6F6F6F;
  background-image: url(../img/educator_pack_bg.jpg);
  background-size: cover;
  background-position: center;
  text-align: center
}
.products-pricing-wrap a
{
  color: #fff;
  text-decoration: underline
}
.products-pricing-wrap a.button
{
  text-decoration: none;
  width: 157px;
  font-size: 16pt;
  margin: 10px 0
}
.products-pricing-wrap .products-pricing
{
  padding-bottom: 2em
}
.products-pricing-wrap .text-link
{
  color: inherit;
  text-decoration: underline
}
.products-pricing-wrap .products-list
{
  margin-bottom: 1em;
  display: block;
  text-align: center;
  width: 100%
}
.products-pricing-wrap .products-list .product-tile
{
  display: inline-block;
  margin: 0 7px
}
.products-pricing-wrap .product-tile
{
  margin-bottom: .5em;
  text-decoration: none;
  display: table-cell;
  width: 20%
}
.products-pricing-wrap .product-tile .product-tile-image
{
  background-color: #fff;
  border-radius: 1em 1em 0 0
}
.products-pricing-wrap .product-tile .product-tile-image .product-image
{
  height: 12em;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat
}
.products-pricing-wrap .product-tile .product-tile-bottom
{
  padding: .5em;
  background-color: #f2f2f2;
  border-radius: 0 0 1em 1em;
  color: #20B0E5
}
.products-pricing-wrap .product-tile .product-tile-bottom .product-name
{
  font-weight: 700;
  font-size: .9rem
}
.products-pricing-wrap .product-tile .product-tile-bottom .product-price
{
  margin-top: .1em;
  font-size: 1.5em
}
.products-pricing-wrap .products-recommended
{
  padding: 2em 0;
  color: #666;
  background-color: #fff;
  text-align: left
}
.products-pricing-wrap .products-recommended h2
{
  font-size: 1.8em;
  color: #ad67c5;
  text-align: center
}
.products-pricing-wrap .products-recommended h3
{
  margin-bottom: 0
}
.products-pricing-wrap .products-recommended ul
{
  padding: 0;
  margin-top: 0;
  list-style: none
}
.products-pricing-wrap .products-recommended .total-pack-price,.products-pricing-wrap .products-recommended h3
{
  font-size: 1.2em;
  color: #000
}
.products-pricing-wrap .products-recommended li
{
  padding: .1rem 0;
  font-size: .9rem;
  font-weight: 300
}
.products-pricing-wrap .products-recommended .educator-pack
{
  display: block;
  float: left;
  width: 100%
}
.educational-pack-tile
{
  border-radius: 1em;
  overflow: hidden;
  background-color: #fff;
  display: table-cell;
  width: 33.33333%
}
.educational-pack-tile .pack-top
{
  padding: 2em;
  text-align: justify;
  line-height: 0
}
.educational-pack-tile .pack-top::after
{
  display: inline-block;
  width: 100%;
  content: "";
  font-size: 0;
  line-height: 0;
  vertical-align: top
}
.educational-pack-tile h3
{
  color: #00ACD7;
  margin: 0;
  display: inline-block;
  text-align: left;
  font-size: 17px;  
}
.educational-pack-tile h3.price
{
  font-weight: 500;
  color: #666;
  font-size: 17px;
}
.educational-pack-tile ul
{
  margin: 0;
  padding: 0;
  font-size: .9em;
  line-height: 2;
  text-align: left
}
.educational-pack-tile li
{
  list-style: none;
  color: #999;
  font-weight: 300
}
.educational-pack-tile .pack-body
{
  background-color: #f2f2f2;
  color: #f2f2f2;
  padding: 1em 2em
}
h3.offering-group
{
  color: #fff;
  font-weight: 500;
  font-size: 1.8em;
  margin-bottom: 0
}
section.giving .container
{
  margin-top: 2em;
  margin-bottom: 2em;
  position: relative
}
section.giving .container>.row
{
  height: 400px
}
section.giving .container>.row>.copy
{
  position: absolute;
  left: 1em;
  right: 550px
}
section.giving .container>.row>.copy h1
{
  color: #0495CE
}
section.giving .container>.row>.copy p
{
  font-size: 1.4em;
  line-height: 1.6
}
section.giving img.obama
{
  border-radius: 50%;
  position: absolute;
  right: 90px;
  z-index: -1;
  width: 400px
}
section.giving .give-box-group
{
  margin-top: -6em
}
section.giving .give-box-group .giving-group
{
  background-color: #F1F1F1;
  color: #676767;
  padding: 2em;
  border-radius: 20px;
  margin: 2em 0
}
section.giving .give-box-group .giving-group .copy
{
  overflow: hidden
}
section.giving .give-box-group .giving-group .copy p
{
  font-weight: 300;
  line-height: 1.6
}
section.giving .give-box-group .giving-group a.logo
{
  float: left;
  width: 180px;
  margin-right: 50px;
  margin-top: 23px
}
section.giving .give-box-group .giving-group a.logo img
{
  width: 100%
}
section.giving .give-box-group .giving-group a
{
  color: #00ACD7
}
section.giving .give-box-group .giving-group a:hover
{
  color: #0bceff
}
section.giving .give-box-group .giving-group .button
{
  border-color: #666;
  color: #666;
  margin-right: 1em
}
section.giving .give-box-group .giving-group .button:hover
{
  border-color: #00ACD7;
  color: #00ACD7
}
.submit-lesson-form
{
  background-color: #76C6FD;
  color: #fff;
  overflow: auto;
  padding: 4em 0
}
.submit-lesson-form .close-button
{
  text-align: right
}
.submit-lesson-form button
{
  padding-top: 0;
  padding-bottom: 0;
  height: 2em
}
.submit-lesson-form.admin-submit-lesson
{
  background-color: #d5646f
}
.submit-lesson-form input[type=number],.submit-lesson-form input[type=text],.submit-lesson-form select,.submit-lesson-form textarea
{
  border-radius: .5em;
  display: block;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.4;
  background-color: #fff;
  text-transform: none;
  font: inherit;
  border: 1px solid transparent;
  margin-top: .5em;
  margin-bottom: .5em;
  color: #333;
  font-family: Open Sans,Helvetica
}
.submit-lesson-form input[type=number]:focus,.submit-lesson-form input[type=text]:focus,.submit-lesson-form select:focus,.submit-lesson-form textarea:focus
{
  outline: 0;
  border: 1px solid #00ACD7
}
.submit-lesson-form input[type=number].markdown-formattable,.submit-lesson-form input[type=text].markdown-formattable,.submit-lesson-form select.markdown-formattable,.submit-lesson-form textarea.markdown-formattable
{
  font-family: Monaco,Courier New,monospace;
  font-size: .8em
}
.submit-lesson-form input[type=number][readonly],.submit-lesson-form input[type=text][readonly],.submit-lesson-form select[readonly],.submit-lesson-form textarea[readonly]
{
  background-color: #ddd
}
.submit-lesson-form .product-icon
{
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 10.43705%
}
.submit-lesson-form .product-icon:last-child
{
  margin-right: 0
}
.submit-lesson-form .product-icon input
{
  display: none
}
.submit-lesson-form .product-icon img
{
  border-radius: 50%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  border: 3px solid transparent
}
.submit-lesson-form .product-icon input:checked+img
{
  border: 3px solid #ABFF78
}
.submit-lesson-form .input-section-label
{
  margin-bottom: .3em;
  margin-top: 2em
}
.submit-lesson-plan-section
{
  background-color: #ecf4f5;
  overflow: auto;
  color: #333
}
.submit-lesson-plan-section textarea.main-lesson-body
{
  min-height: 20em
}
.submit-lesson-plan-section .image-drop-box
{
  padding: 3em;
  border: 5px dotted #999;
  text-align: center;
  background-color: #f4f4f4;
  font-family: Bariol,Helvetica,san-serif;
  font-weight: 300;
  -webkit-transition: all 300ms;
  transition: all 300ms
}
.submit-lesson-plan-section .image-drop-box:before
{
  content: "Drop Files Here"
}
.submit-lesson-plan-section .image-drop-box.dragover
{
  background-color: #eee
}
.submit-lesson-plan-section .image-drop-box.dragover-invalid
{
  cursor: no-drop!important;
  background-color: #FFEFEF
}
.submit-lesson-plan-section .image-drop-box.dragover-invalid:before
{
  content: "Invalid File Type"
}
.submit-lesson-plan-section .main-lesson-section
{
  padding: 1em;
  border-radius: 1em;
  box-shadow: rgba(0,0,0,.29804) 0 0 2px 0 inset;
  background-color: #f4f4f4;
  margin-bottom: 2em
}
.submit-lesson-plan-section h1,.submit-lesson-plan-section h2,.submit-lesson-plan-section h3,.submit-lesson-plan-section h4
{
  color: #1aafe8
}
.submit-lesson-plan-section .preview
{
  vertical-align: middle;
  text-align: center;
  height: 100%
}
.submit-lesson-plan-section .preview>*
{
  max-height: 100%;
  max-width: 100%
}
.submit-lesson-plan-section .item-preview
{
  display: inline-block;
  width: 11em;
  height: 11em;
  padding: 1em;
  margin: 1em 1em 4em;
  background-color: #fff;
  position: relative;
  vertical-align: middle
}
.submit-lesson-plan-section .item-preview label
{
  position: absolute;
  width: 100%;
  top: 11.5em;
  left: 0;
  text-align: center;
  font-weight: 300;
  max-width: 40ch;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all
}
.submit-lesson-plan-section .item-preview p
{
  text-align: center;
  margin: 0 1em
}
.submit-lesson-plan-section .item-preview button
{
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: 2em;
  height: 2em;
  padding: 0;
  background-color: #fff;
  color: #333;
  box-shadow: -2px 2px 8px 0 rgba(0,0,0,.3);
  border-radius: 50%
}
.submit-lesson-plan-section .item-preview button:hover
{
  background-color: #00ACD7;
  color: #fff
}
.submit-lesson-plan-section .document-item
{
  width: 5em;
  height: 7em;
  line-height: 7em;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  text-align: center
}
.submit-lesson-plan-section .document-item span
{
  text-transform: uppercase;
  color: #ccc
}
.save-lesson-section
{
  background-color: #ea6071;
  padding: 3em 0
}
.save-lesson-section .button,.save-lesson-section button
{
  background-color: #fff;
  color: #FF742E;
  margin-right: 1em;
  font-size: 1.2em
}
.save-lesson-section .button:hover,.save-lesson-section button:hover
{
  background-color: #FFE6DA
}
.submit-success-section
{
  background-color: #76c6fd;
  color: #fff;
  padding: 3em 0
}
.submit-success-section p a
{
  color: #fff;
  text-decoration: underline
}
.submit-success-section .button
{
  margin-right: 1em;
  font-size: 1.5em
}
*
{
  box-sizing: border-box
}
.lessons-browse-masthead
{
  overflow: hidden;
  color: #fff;
  background-color: #76c6fd;
  padding: 2em 0
}
.lessons-browse-masthead .container
{
  position: relative
}
.lessons-browse-masthead .masthead-text
{
  max-width: 25em
}
.lessons-browse-masthead .masthead-image
{
  display: none
}
.search-bar
{
  background-color: #1DAEE5
}
.search-bar .container
{
  padding-top: 12px;
  padding-bottom: 12px
}
.search-bar .dropdown-search
{
  background-color: #2FC7FF;
  color: #fff;
  height: 2em;
  padding: 0 10px;
  min-width: 9em;
  font-family: Museo Sans,Helvetica,sans-serif;
  text-align: left;
  font-weight: 500;
  border: 1px solid #22AADC
}
.label,.lesson-tile .author-grades span
{
  font-weight: 700
}
.search-bar .dropdown-search:hover
{
  background-color: #16c0ff
}
.search-bar .dropdown-search-toggle
{
  min-width: inherit;
  width: 35px;
  text-align: center
}
.search-bar .dropdown-group
{
  display: inline-block;
  border-right: 1px dashed #fff;
  vertical-align: middle
}
.search-bar .dropdown.selected .dropdown-search
{
  background-color: #fff;
  color: #333
}
.search-bar .dropdown.selected .dropdown-search:hover
{
  background-color: #eee
}
.search-bar .search
{
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  position: relative;
  color: #fff
}
.search-bar .search.active
{
  color: #333
}
.search-bar .search.active input
{
  background-color: #fff;
  width: 300px
}
.search-bar .search::before
{
  position: absolute;
  font-size: 1.3em;
  left: 10px;
  top: 5px;
  content: "";
  font-family: FontAwesome
}
.search-bar .search input
{
  border: 1px solid #1DAEE5;
  height: 2em;
  padding-left: 36px;
  border-radius: 5px;
  background-color: #2FC7FF;
  width: 39px;
  -webkit-transition: width 300ms ease-out;
  transition: width 300ms ease-out
}
.search-bar .search input:focus
{
  border-color: #00ACD7;
  outline: 0
}
.search-bar .container
{
  position: relative
}
.search-bar .submit-lesson-button
{
  position: absolute;
  right: 1em;
  top: 9px
}
.lessons-section
{
  padding: 1em 0;
  background-color: #cff2ff
}
.featured-lessons-section
{
  overflow: hidden;
  background-color: #f26470
}
.featured-lessons-section h2
{
  margin: 1.5em 0;
  font-size: 2em;
  text-align: center;
  color: #fff
}
.submit-lesson-section
{
  overflow: hidden;
  padding: 2em 0;
  color: #666;
  background-color: #fff
}
.submit-lesson-section h2
{
  margin: 0 0 .5em;
  font-size: 3em;
  color: #76c6fd
}
.submit-lesson-section .share-plans-submit button,.teachers-signup-section button
{
  font-size: 1.5em
}
.submit-lesson-section .share-plans-submit
{
  text-align: center
}
.teachers-signup-section
{
  padding: 2em 0;
  text-align: center;
  background-color: #f2f2f2
}
.teachers-signup-section h2
{
  color: #76c6fd
}
.lessons-list
{
  overflow: hidden;
  padding: .5em;
  margin: -.5em
}
.borked
{
  background-color: #f6f6ff;
  padding: 3em 0 20em;
  background-image: url(img/island_faq.png);
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat
}
.borked h1
{
  font-size: 3em
}
.borked p
{
  font-size: 1em
}
.lesson-tile
{
  position: relative;
  float: left;
  width: 100%;
  height: 20em;
  margin-bottom: 1.5em;
  padding: 0;
  color: #666;
  background-color: #fff;
  border-radius: 2em;
  overflow: hidden;
  text-align: left;
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2)
}
.lesson-tile>*
{
  //margin-top: -2.2em
  margin-top: 0.5em
}
.lesson-tile>:first-child
{
  margin-top: 0
}
.lesson-tile .lesson-categories-list>*
{
  margin-right: .5em;
  margin-bottom: .5em
}
.lesson-tile .lesson-tile-image
{
  height: 13em;
  padding: 1em;
  background-size: cover;
  background-position: center;
  border-radius: 1em 1em 0 0
}
.lesson-tile .lesson-tile-bottom {
  padding: 1em;
}
.lesson-tile .lesson-title-wrap
{
  position: relative;
  margin-bottom: 2em
}
.lesson-tile .lesson-title
{
  position: absolute;
  bottom: -1.8em;
  background-color: #FFF;
  border-radius: 1em 1em 0 0;
  line-height: .9;
  padding: .7em .7em 0;
  width: 100%;
  font-size: 1.1em
}
.label,.lesson-tile .author-info
{
  font-size: .9em;
  vertical-align: middle
}
.lesson-tile .lesson-title h4
{
  margin: 0
}
.lesson-tile .lesson-title p
{
  margin: .3em 0;
  line-height: 1.1
}
.lesson-tile .lesson-author
{
  display: table
}
.lesson-tile .author-img
{
  display: table-cell;
  width: 20%
}
.lesson-tile .author-img .img
{
  width: 3em;
  height: 3em;
  background-size: cover;
  background-position: center;
  border-radius: 50%
}
.lesson-tile .author-info
{
  display: table-cell;
  padding-left: .5em
}
.lesson-tile .author-name span
{
  color: #666
}
.lesson-tile .author-grades
{
  margin-top: .2em;
  color: #75bdf2
}
.label
{
  display: inline-block;
  padding: 5px 10px;
  line-height: 1;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  border: 3px solid #fff;
  font-family: Bariol
}
.label-red
{
  background-color: #ff403d
}
.label-blue
{
  background-color: #3d74ff
}
.label-green
{
  background-color: #00cf07
}
.label-orange
{
  background-color: #ffa02b
}
.label-teal
{
  background-color: #67B5CD
}
.label-yellow
{
  background-color: #DCC22D
}
.label-premium
{
  background-color: #FAD124;
  color: #333
}
.label-premium i
{
  margin-right: .4em
}
.lesson-wrapper
{
  color: #666;
  font-weight: 300;
  line-height: 1.6
}
.lesson-wrapper section
{
  overflow: hidden
}
.lesson-wrapper h3,.lesson-wrapper h4
{
  color: #76c6fd
}
.lesson-wrapper h4
{
  margin-top: 0;
  margin-bottom: .5em
}
.lesson-wrapper p
{
  margin: 1em 0
}
.lesson-wrapper a
{
  color: #00ACD7
}
.lesson-wrapper a:hover
{
  color: #00c0f1
}
.lesson-wrapper .lesson-header-section
{
  color: #fff;
  background-color: #76c6fd
}
.lesson-wrapper .lesson-header-section .container
{
  position: relative
}
.lesson-wrapper .lesson-header-section .col
{
  display: inline-block;
  width: 50%;
  float: none;
  vertical-align: top
}
.lesson-wrapper .lesson-header-section .lesson-main-image
{
  display: inline-block;
  margin-top: 2em;
  margin-bottom: -2em;
  width: 50%;
  border-radius: 20px;
  border: 10px solid #fff
}
.lesson-wrapper .lesson-header-section .all-lessons-link
{
  display: inline-block;
  margin-top: 3em;
  color: #fff
}
.lesson-wrapper .lesson-header-section .all-lessons-link i
{
  font-size: .8em
}
.lesson-wrapper .lesson-header-section .lesson-title
{
  margin: .3em 0;
  font-size: 3em;
  line-height: 1
}
.lesson-wrapper .lesson-header-section .lesson-tile-bottom
{
  padding: .8em
}
.lesson-wrapper .lesson-header-section .author-info
{
  font-size: .8em
}
.lesson-wrapper .lesson-header-section .lesson-author
{
  display: table
}
.lesson-wrapper .lesson-header-section .lesson-author>*
{
  display: table-cell;
  vertical-align: middle
}
.lesson-wrapper .lesson-header-section .lesson-author .author-name,.lesson-wrapper .lesson-header-section .lesson-author .favorites-value
{
  padding-left: .5em
}
.lesson-wrapper .lesson-header-section .lesson-author .author-img .img
{
  width: 3em;
  height: 3em;
  background-size: cover;
  background-position: center;
  border-radius: 50%
}
.lesson-wrapper .lesson-header-section .social-links
{
  margin: 1.5em 0
}
.lesson-wrapper .lesson-header-section .social-links .link
{
  font-family: Bariol;
  display: inline-block;
  margin-right: .5em;
  padding: .3em 1em;
  background-color: #fff;
  border-radius: 2em;
  font-weight: 700;
  line-height: 1.6;
  width: 8em;
  text-align: center;
  position: relative
}
.lesson-wrapper .lesson-header-section .social-links .link:hover i
{
  -webkit-transform: translateX(-4px);
  transform: translateX(-4px)
}
.lesson-wrapper .lesson-header-section .social-links i
{
  -webkit-transition: all 300ms;
  transition: all 300ms;
  margin-right: .5em;
  font-size: 1.3em
}
.lesson-wrapper .lesson-header-section .social-links .facebook-link
{
  color: #3B5998
}
.lesson-wrapper .lesson-header-section .social-links .twitter-link
{
  color: #2ee3ff
}
.lesson-wrapper .lesson-header-section .social-links .favorite-link
{
  color: #fb0
}
.lesson-wrapper .free-sample-section
{
  background-color: #ea6071;
  color: #fff
}
.lesson-wrapper .free-sample-section .container
{
  max-width: 42em;
  text-align: center
}
.lesson-wrapper .free-sample-section .container a
{
  color: #fff;
  text-decoration: underline
}
.lesson-wrapper .lesson-info-section
{
  padding: 2em 0 1em;
  background-color: #fff
}
.lesson-wrapper .lesson-info-section .categories-list
{
  display: inline;
  margin-left: 2em
}
.lesson-wrapper .lesson-info-section .categories-list>*
{
  margin-right: .5em
}
.lesson-wrapper .lesson-info-section .lesson-description
{
  font-size: 1.2em
}
.lesson-wrapper .lesson-details-section
{
  background-color: #e9f4f5;
  padding-bottom: 2em
}
.lesson-wrapper .lesson-details-section ul.downloads-list
{
  padding: 0;
  list-style: none;
  font-size: .75em
}
.lesson-wrapper .lesson-details-section ul.downloads-list li
{
  display: inline-block;
  margin: .3em 2em .3em 0
}
.lesson-wrapper .lesson-details-section ul.downloads-list li a
{
  color: #666
}
.lesson-wrapper .lesson-details-section ul.downloads-list li i
{
  margin-right: .5em;
  padding: .2em .3em;
  border-radius: 1em;
  background-color: #76c6fd;
  color: #fff
}
.lesson-wrapper .lesson-details-section ul.products-list
{
  padding: 0;
  list-style: none;
  font-size: .75em
}
.lesson-wrapper .lesson-details-section ul.products-list li
{
  display: inline-block;
  margin-right: 1.5em;
  text-align: center
}
.lesson-wrapper .lesson-details-section ul.products-list li img
{
  display: block;
  width: 6em;
  margin-bottom: .5em
}
.lesson-wrapper .lesson-sections-section
{
  background-color: #fff;
  overflow: visible;
  padding: 4em 0
}
.lesson-wrapper .lesson-sections-section .lesson-section-nav
{
  float: left;
  width: 10em;
  margin-right: 4em
}
.lesson-wrapper .lesson-sections-section .lesson-section-nav ul
{
  margin: 0;
  padding: 0
}
.lesson-wrapper .lesson-sections-section .lesson-section-nav li
{
  list-style: none;
  margin: .5em 0
}
.lesson-wrapper .lesson-sections-section .lesson-section-nav a
{
  display: block;
  padding: .3em .7em;
  border-radius: 1em;
  color: #F70
}
.lesson-wrapper .lesson-sections-section .lesson-section-nav a:hover
{
  background-color: #FFE3CB
}
.lesson-wrapper .lesson-sections-section .lesson-section-nav a.active
{
  color: #fff;
  background-color: #F70
}
.lesson-wrapper .lesson-sections-section .lesson-section-nav a.active:hover
{
  background-color: #F70
}
.lesson-wrapper .lesson-list-section
{
  background-color: #f26470
}
.lesson-wrapper .row
{
  overflow: hidden;
  margin-bottom: 1em
}
.lesson-wrapper .col
{
  float: left;
  width: 50%;
  padding-right: 2em
}
.lesson-wrapper .col-4
{
  float: left;
  width: 33%
}
.lesson-wrapper .inline
{
  display: inline-block
}
.lesson-wrapper .clear
{
  overflow: hidden
}
.lesson-wrapper .unstyled-list
{
  margin: 0;
  padding: 0;
  list-style: none
}
.lesson-wrapper .unstyled-list li
{
  margin-bottom: .5em
}
.lesson-wrapper .lesson-sections-tabs-content
{
  font-size: .95em;
  max-width: 55em;
  line-height: 1.6;
  padding-bottom: 4em;
  overflow: hidden
}
.lesson-wrapper .lesson-sections-tabs-content>div>:first-child
{
  margin-top: 0
}
.lesson-wrapper .lesson-sections-tabs-content li
{
  margin: .8em 0
}
.lesson-wrapper .lesson-sections-tabs-content h1
{
  color: #65aee5;
  font-family: Museo Sans;
  font-weight: 500
}
.lesson-wrapper .lesson-sections-tabs-content blockquote
{
  padding: .5em 2em;
  border-left: .5em solid #76C6FD;
  margin: 2em 0
}
.lesson-wrapper .lesson-sections-tabs-content blockquote p
{
  font-size: 1.2em
}
.lesson-wrapper .lesson-sections-tabs-content img
{
  border: 1em solid #e5e5e5;
  vertical-align: bottom;
  display: block;
  max-width: 100%
}
.protected-content-info
{
  position: relative;
  overflow: initial!important;
  text-align: center;
  padding: 3em 0
}
.protected-content-info::before
{
 
  content: "";
  left: 0;
  right: 0;
  height: 136px;
  top: -136px;
  position: absolute
}
.protected-content-info button
{
  font-size: 1.8em;
  width: 18em
}
.protected-content-info a
{
  color: #FF742E
}
.protected-content-info a:hover
{
  color: #fa5400
}
.create-account-wrapper
{
  width: 100%;
  max-width: 100%;
  min-height: 135px
}
.create-account
{
  text-align: center;
  border-radius: 1em;
  color: #fff;
  opacity: 1
}
.create-account .fade-in.ng-hide-remove.ng-hide-remove-active
{
  opacity: 1!important
}
.create-account .fade-in.ng-hide-remove
{
  -webkit-transition: all 800ms;
  transition: all 800ms;
  opacity: 0
}
.create-account .create-account-content,.create-account .create-account-footer,.create-account .create-account-header
{
  padding: 1.5em
}
.create-account .create-account-footer,.create-account .create-account-header
{
  background-color: #3bccff
}
.create-account .create-account-header
{
  border-radius: 0
}
.create-account .create-account-header>*
{
  margin: 0
}
.create-account .create-account-header.social-share-buttons
{
  padding: 1em .3em
}
.create-account .create-account-header.social-share-buttons button
{
  padding: .5em
}
.create-account a.create-account-footer:hover
{
  background-color: #21c5ff;
  text-decoration: none
}
.create-account .create-account-footer
{
  border-radius: 0;
  display: block
}
.create-account .create-account-footer.referrals-person-link
{
  padding: 1.5em .5em
}
.create-account .create-account-footer>*
{
  margin: 0 0 .5em
}
.create-account .create-account-footer>:last-child
{
  margin-bottom: 0
}
.create-account .create-account-footer h5
{
  color: #1791bd
}
.create-account .create-account-footer p,.create-account a
{
  color: #fff
}
.create-account .create-account-content
{
  background-color: #62d6ff
}
.create-account .create-account-content .error,.create-account .create-account-content .success
{
  text-align: left
}
.create-account .group
{
  margin-bottom: 2em
}
.create-account.ng-hide-remove.ng-hide-remove-active
{
  opacity: 1!important;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.create-account.ng-hide-remove
{
  -webkit-transition: all 800ms;
  transition: all 800ms;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  opacity: 0
}
.create-account .create-account-box-button
{
  display: block;
  margin: 0 auto 1em;
  width: 14em;
  max-width: 100%;
  height: 2.8em
}
.create-account .create-account-box-button:disabled
{
  background-color: #777!important
}
.create-account input,.create-account textarea
{
  display: block;
  padding: .5em;
  font-size: 1em;
  background-color: #fff;
  border-radius: .4em;
  border: 1px solid #62d6ff
}
.create-account input:focus,.create-account textarea:focus
{
  outline: 0;
  border-color: #1e7694
}
.create-account input
{
  height: 2.5em
}
.create-account a:hover
{
  color: #fff;
  text-decoration: underline
}
.create-account form.create-account-form
{
  padding: 0
}
.create-account form.create-account-form input
{
  width: 100%;
  margin: .5em auto;
  text-align: center
}
.create-account form.create-account-form .inline-group
{
  overflow: hidden;
  margin: -.5em 0
}
.create-account form.create-account-form .inline-group input
{
  width: 49%
}
.create-account form.create-account-form .inline-group input:first-child
{
  float: left
}
.create-account form.create-account-form .inline-group input:last-child
{
  float: right
}
.create-account form.create-account-form button
{
  width: 12em
}
.create-account-create-account .social-create-buttons
{
  overflow: hidden
}
.create-account-create-account .social-create-buttons button
{
  width: 14em;
  padding-left: 1em;
  padding-right: 1em
}
.flash-container
{
  position: fixed;
  top: 7em;
  right: 3em;
  z-index: 10
}
.flash-container .flash-modal
{
  background-color: #fff;
  border-radius: .5em;
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
  width: 18em;
  padding: 1em 1.7em 1em 1em;
  margin: 1em 0;
  box-sizing: border-box;
  position: relative
}
.flash-container .flash-modal.success
{
  border-bottom: 3px solid #69B83D
}
.flash-container .flash-modal.error
{
  border-bottom: 3px solid #dd4b39
}
.flash-container .flash-modal.ng-enter,.flash-container .flash-modal.ng-leave,.flash-container .flash-modal.ng-move
{
  -webkit-transition: .3s ease-in-out all;
  transition: .3s ease-in-out all
}
.flash-container .flash-modal.ng-enter,.flash-container .flash-modal.ng-leave.ng-leave-active,.flash-container .flash-modal.ng-move
{
  opacity: 0;
  left: 3em
}
.flash-container .flash-modal.ng-enter.ng-enter-active,.flash-container .flash-modal.ng-leave,.flash-container .flash-modal.ng-move.ng-move-active
{
  opacity: 1;
  left: 0
}
.flash-container .flash-modal .flash-content>div>:first-child
{
  margin-top: 0
}
.flash-container .flash-modal .flash-content>div>:last-child
{
  margin-bottom: 0
}
.flash-container .flash-modal .close-button
{
  position: absolute;
  top: 0;
  right: 0;
  margin: .5em
}
.flash-container .flash-modal li,.flash-container .flash-modal p
{
  font-size: .9rem;
  font-weight: 300
}
.flash-container .flash-modal ul
{
  padding-left: 1em
}
.flash-container .flash-modal li
{
  margin: .5em 0
}
.admin-lessons-list table
{
  width: 100%
}
.admin-lessons-list tbody tr:hover
{
  background-color: #ffffe3;
  cursor: pointer;
  color: #00ACD7
}
.admin-lessons-list td
{
  padding-top: 1em;
  padding-bottom: 1em;
  line-height: 1.42;
  vertical-align: middle;
  border-top: 1px solid #ddd;
  font-weight: 300;
  font-size: .9em
}
.admin-lessons-list td,.admin-lessons-list th
{
  padding-left: .3em;
  padding-right: .3em
}
.admin-lessons-list th
{
  border-bottom: 2px solid #ddd;
  text-align: left;
  padding-top: .5em
}
.admin-lessons-list .delete
{
  padding: 0;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
  border-radius: 50%;
  height: 2em;
  width: 2em;
  color: #333
}
.admin-lessons-list .delete:hover
{
  background-color: #00ACD7;
  color: #fff
}
.admin-lessons-list .feature-lesson
{
  height: 2em;
  padding: 0 1em;
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.3)
}
.admin-lessons-list .feature-lesson:hover
{
  background-color: #00ACD7;
  color: #fff
}
.request-info-modal
{
  background-color: #fff;
  color: #00ACD7;
  width: 380px;
  box-shadow: 0 0 16px rgba(0,0,0,.7);
  margin: 0 auto;
  border-radius: 10px;
  position: relative
}
.request-info-modal .close-icon
{
  position: absolute;
  right: 8px;
  top: 8px
}
.request-info-modal .error
{
  background-color: #ffded8;
  color: #991b16;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 10pt
}
.request-info-modal .error a
{
  color: #00ACD7
}
.request-info-modal .top-section
{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px
}
.request-info-modal .bottom-section
{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px
}
.request-info-modal .bottom-section,.request-info-modal .top-section
{
  background-color: #E7F6FF;
  overflow: auto;
  padding: 17px;
  text-align: center
}
.request-info-modal .bottom-section h3,.request-info-modal .top-section h3
{
  margin: 0
}
.request-info-modal input[type=text],.request-info-modal input[type=email],.request-info-modal select, .form-body input[type=text], .form-body input[type=email], .form-body input[type=password] {
  background-color: #E0EFF1;
  height: 40px;
  border: 1px solid #E0EFF1;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 10pt;
  -webkit-transition: background-color linear 300ms;
  transition: background-color linear 300ms
}
.request-info-modal input[type=text]::-webkit-input-placeholder,.request-info-modal input[type=email]::-webkit-input-placeholder
{
  color: #768487
}
.request-info-modal input[type=text]::-moz-placeholder,.request-info-modal input[type=email]::-moz-placeholder
{
  color: #768487
}
.request-info-modal input[type=text]:-moz-placeholder,.request-info-modal input[type=email]:-moz-placeholder
{
  color: #768487
}
.request-info-modal input[type=text]:-ms-input-placeholder,.request-info-modal input[type=email]:-ms-input-placeholder
{
  color: #768487
}
.request-info-modal input[type=text]:focus,.request-info-modal input[type=email]:focus ,.request-info-modal select:focus, .form-body input[type=text]:focus, .form-body input[type=email]:focus, .form-body input[type=password]:focus {
  outline: 0;
  border: 1px solid #00ACD7
}
.request-info-modal input[type=text].active,.request-info-modal input[type=email].active,.request-info-modal select.active, .form-body input[type=text]:active, .form-body input[type=email]:active, .form-body input[type=password]:active {
  background-color: #fff;
  border-color: #999;
  color: #333
}
.request-info-modal input[type=text]:disabled,.request-info-modal input[type=email]:disabled
{
  background-color: #eee
}
.request-info-modal .dropdown
{
  width: 100%
}
.request-info-modal .dropdown .button
{
  background-color: #E0EFF1;
  font-family: Museo Sans;
  font-size: 10pt;
  color: #768487;
  font-weight: 500;
  text-align: left;
  line-height: 40px;
  width: 100%;
  padding: 0 10px;
  height: 40px;
  border-radius: 4px;
  position: relative
}
.request-info-modal .dropdown .button::after
{
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #596466;
  position: absolute;
  width: 0;
  height: 0;
  right: 10px;
  top: 15px;
  content: "";
  -webkit-transition: transform ease-out 150ms;
  transition: transform ease-out 150ms
}
.request-info-modal .dropdown .button:focus
{
  border: 1px solid;
  border-color: #00ACD7!important
}
.request-info-modal .dropdown .button:focus::after
{
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg)
}
.request-info-modal .dropdown .button.active
{
  background-color: #fff;
  border-color: #999;
  color: #333
}
.request-info-modal .dropdown .dropdown-menu
{
  width: 100%
}
.request-info-modal .dropdown.disabled .button
{
  background-color: #eee;
  cursor: not-allowed
}
.request-info-modal .dropdown .hiddenput
{
  height: 0;
  line-height: 0;
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1
}
.request-info-modal .body-section .form-body
{
  padding: 6px 50px
}
.request-info-modal .body-section .form-body .row
{
  margin: 4px 0
}
.request-info-modal .body-section .signed-up
{
  height: 324px;
  width: 100%;
  text-align: center;
  color: #666;
  padding: 10px
}
.request-info-modal .body-section .signed-up a
{
  color: #00ACD7
}
.request-info-modal .body-section .signed-up h3 .weak
{
  font-weight: 500
}
.request-info-modal .body-section .signed-up svg
{
  display: block;
  margin: 0 auto;
  -webkit-transform: scale(0,0);
  transform: scale(0,0);
  -webkit-transition: transform ease-in 200ms;
  transition: transform ease-in 200ms
}
.request-quote-form .offering .details,.request-quote-form .offering .quantity
{
  vertical-align: middle;
  display: inline-block
}
.request-info-modal .body-section .signed-up svg.active
{
  -webkit-transform: scale(1,1);
  transform: scale(1,1)
}
.request-info-modal .bottom-section button
{
  background-color: transparent;
  border: 3px solid #00ACD7;
  color: #00ACD7;
  width: 170px
}
.request-info-modal .bottom-section button:focus,.request-info-modal .bottom-section button:hover
{
  background-color: #fff
}
.request-info-modal .bottom-section button:disabled
{
  background-color: transparent!important;
  border-color: #C6E8FC;
  color: #C6E8FC
}
.request-quote-header
{
  background-color: #75bdf2;
  color: #fff;
  padding: 2em 0
}
.request-quote-form
{
  padding: 3em 0
}
.request-quote-form .button,.request-quote-form button
{
  border: 1px solid #333
}
.request-quote-form form>h3
{
  border-bottom: 1px solid #666;
  font-weight: 500;
  color: #333
}
.request-quote-form .add-offering
{
  background-color: #fafafa;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #333
}
.request-quote-form ul
{
  padding: 0
}
.request-quote-form .form-label
{
  font-weight: 300;
  line-height: 50px
}
.request-quote-form .offering
{
  list-style: none;
  max-width: 600px;
  margin: 8px 0
}
.request-quote-form .offering .quantity
{
  font-weight: 700;
  font-size: 16pt;
  margin-right: 20px
}
.request-quote-form .offering img
{
  width: 75px;
  vertical-align: middle;
  margin-right: 20px
}
.request-quote-form .offering a
{
  color: #00ACD7
}
.request-quote-form .offering a:hover
{
  color: #0bceff
}
.request-quote-form label.row
{
  margin: 10px 0
}
.request-quote-form input[type=number],.request-quote-form input[type=text],.request-quote-form input[type=email],.request-quote-form select,.request-quote-form textarea
{
  border: 1px solid #333;
  border-radius: .5em;
  display: block;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.4;
  background-color: #fff;
  text-transform: none;
  font: inherit;
  margin-top: .5em;
  margin-bottom: .5em;
  color: #333;
  font-family: Open Sans,Helvetica
}
.request-quote-form input[type=number]:focus,.request-quote-form input[type=text]:focus,.request-quote-form input[type=email]:focus,.request-quote-form select:focus,.request-quote-form textarea:focus
{
  outline: 0;
  border: 1px solid #00ACD7
}
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2 / 1),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx)
{
  header .logo
  {
    background-image: url(https://d1my81jgdt4emn.cloudfront.net/images/brand/header_logo_2x.png)
  }
  .footer-section .social-link-blog::after
  {
    background-image: url(https://d1my81jgdt4emn.cloudfront.net/images/brand/w_logo_2x.png)
  }
  .footer-section .social-link-blog:active::after,.footer-section .social-link-blog:focus::after,.footer-section .social-link-blog:hover::after
  {
    background-image: url(https://d1my81jgdt4emn.cloudfront.net/images/brand/w_logo_white_2x.png)
  }
  .hero
  {
    background-image: url(../img/hero_2x.jpg)
  }
  .borked
  {
    background-image: url(img/island_faq_2x.png)
  }
}@media (min-width:761px)
{
  .footer-section .footer-top
  {
    margin-top: 5em;
    padding-top: 0
  }
  .footer-section .footer-link-section
  {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 20.33163%
  }
  .footer-section .footer-link-section:last-child
  {
    margin-right: 0
  }
  .footer-section .footer-link-section ul
  {
    margin-left: 0;
    display: block!important
  }
  .footer-section .retail-locations
  {
    display: inline-block
  }
  .footer-section .footer-newsletter
  {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 27.49666%;
    margin-left: 4.2649%
  }
  .footer-section .footer-newsletter form
  {
    margin: 0
  }
  .footer-section .footer-newsletter::before
  {
    background-image: url(img/paper_plane.png);
    content: "";
    display: block;
    position: absolute;
    left: -8em;
    top: 1em;
    width: 80px;
    height: 84px
  }
  .footer-section .footer-newsletter:last-child
  {
    margin-right: 0
  }
  .footer-section .footer-container
  {
    padding-bottom: 10em;
    border-top: 1px dotted #d8d8d8
  }
  .footer-section .footer-container .container
  {
    padding: 0 1em
  }
  .footer-section .footer-link-section-title
  {
    padding: 0;
    background-color: transparent;
    text-decoration: none;
    margin-left: 0
  }
  .footer-section .footer-bottom
  {
    margin-top: 5em
  }
  .footer-section .newsletter-input-container
  {
    margin: 0 1em 0 0
  }
  .footer-section .legal-stuff
  {
    float: right;
    margin-left: 0;
    line-height: 3em;
    height: 3em
  }
  .footer-section .social-links
  {
    margin: 0
  }
  .footer-section .desktop-team-founder
  {
    display: block
  }
  .footer-section .mobile-team-founder
  {
    display: none
  }
  .getting-started .video-tile
  {
    width: 30%;
    margin-right: 3.3%
  }
  .getting-started .video-tile .video-preview img
  {
    max-width: 100%;
    width: auto
  }
  .lessons-browse-masthead-img
  {
    background-image: url(../img/lessons_browse_masthead.png);
    background-size: cover;
    background-position: center
  }
  
  .lessons-browse-masthead-img2
  {
    background-image: url(../img/island_faq.png);
    background-size: cover;
    background-position: center
  }
  
  .lessons-browse-masthead h1
  {
    font-size: 3em;
    margin: .3em 0
  }
  .lessons-browse-masthead .masthead-image
  {
    display: block;
    position: absolute;
    right: 0;
    top: 0
  }
  .lesson-tile
  {
    width: 30%;
    margin-right: 3.3%
  }
  .create-account-wrapper
  {
    width: 28em;
    margin: 0 auto
  }
  .create-account .create-account-header
  {
    border-radius: 1em 1em 0 0
  }
  .create-account .create-account-header.social-share-buttons
  {
    padding: 1.5em 1em
  }
  .create-account .create-account-header.social-share-buttons button
  {
    padding: .5em 1em
  }
  .create-account .create-account-footer
  {
    border-radius: 0 0 1em 1em
  }
  .create-account .create-account-footer.referrals-person-link
  {
    padding: 1.5em
  }
  .create-account form.create-account-form
  {
    padding: 0 3em
  }
  .create-account-create-account .social-create-buttons button
  {
    width: 48%;
    height: auto;
    min-height: 2.8em
  }
  .create-account-create-account .social-create-buttons button:first-child
  {
    float: left
  }
  .create-account-create-account .social-create-buttons button:last-child
  {
    float: right
  }
}@media (min-width:1025px)
{
  .coding-curriculum .text
  {
    width: 45em;
    max-width: 100%;
    margin: 0 auto
  }
  .products-pricing-wrap .text
  {
    width: 75%;
    margin: 0 auto
  }
  .products-pricing-wrap .products-recommended h2
  {
    text-align: left
  }
  .products-pricing-wrap .products-recommended .educator-pack
  {
    width: 23%;
    margin-right: 2%
  }
  .submit-lesson-section .share-plans-submit
  {
    float: left;
    width: 30%
  }
  .submit-lesson-section .share-plans-submit button
  {
    width: 90%
  }
  .submit-lesson-section .share-plans-description
  {
    margin-left: 32%
  }
  .lesson-tile
  {
    width: 23%;
    margin-right: 2%
  }
}

.request-info-modal select {
	width: 100%;	
}

.form-body .row {
	padding: 5px;	
}

.bottom-section {
	padding: 10px 5px 0 5px;
}

.quote {
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

.img-bordered {
	//outline: 4px solid #76c6fd;
	border: 8px solid #76c6fd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.h4-orange {
	color:#F70!important;
}