@charset "utf-8";
/* CSS Document © 2010 airmedia.pl */
html, body {
	margin: 0;
	padding: 0;
	color: #000;
	background: #EEE;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
button, input[type=submit] {
	font-size: 13px;
	cursor: pointer;
}
input[type=text] {
	font-size: 13px;
	padding: 1px 2px;
}
p {
	margin: 8px 0;
	padding: 0;
}
a, a:link, a:visited {
	color: #6C8597;
	text-decoration: none;
}
a:hover, a:focus {
	color: #566B7C;
	text-decoration: underline;
}
a:active {
	color: #6C8597;
	text-decoration: none;
}
/* --------------------------------- */
#mainmenu {
	clear: both;
	position: relative;
	height: 40px;
	padding: 10px;
	background: #2A4562;
	border-bottom: 1px solid #7C8896;
	overflow: hidden;
}
#mainmenu ul {
	position: absolute;
	top: 10px;
	right: 10px;
	margin: 0;
	padding: 0;
	list-style: none;
}
#mainmenu li {
	float: left;
	margin: 0 0 0 12px;
	padding: 0;
	border: 1px solid #7C8896;
}
#mainmenu li a {
	display: block;
	height: 30px;
	padding: 3px 8px;
	font-size: 10px;
	outline: none;
}
* html #mainmenu li a { /* ie6 */
	width: 10px;
	white-space: nowrap;
	line-height: 20px !important;
	padding-top: 17px;
	height: 13px;
}
li.ico_upload a { background: url(../images/addfile.gif) no-repeat; }
li.ico_mkdir a { background: url(../images/mkdir.gif) no-repeat; }
li.ico_delete a { background: url(../images/delete.gif) no-repeat; }
li.ico_refresh a { background: url(../images/refresh.gif) no-repeat; }
li.ico_info a { background: url(../images/info.gif) no-repeat; }
#mainmenu li a:link, #mainmenu li a:visited {
	color: #222;
	background-color: #E8E8E8;
	background-position: center 4px;
	border-bottom: 1px solid #888;
	border-right: 1px solid #888;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	text-decoration: none;
	line-height: 46px;
}
#mainmenu li a:hover, #mainmenu li a:focus, #mainmenu li a:active {
	color: #000;
	background-color: #E0E0E0;
	background-position: center 5px;
	border-bottom: 1px solid #EEE;
	border-right: 1px solid #EEE;
	border-top: 1px solid #777;
	border-left: 1px solid #777;
	text-decoration: none;
	line-height: 48px;
}
#mainmenu input.onoffview {
	width: 22px;
	height: 22px;
	border: 3px solid #FFF;
	background: #FFF;
}
/* --------------------------------- */
#breadcrumbs {
	clear: both;
	height: 18px;
	padding: 2px 0 0 10px;
	border-bottom: 1px solid #7C8896;
}
#breadcrumbs a:hover, #breadcrumbs a:focus, #breadcrumbs a:active {
	color: #000;
	text-decoration: none;
}
/* --------------------------------- */
#messagebar {
	clear: both;
	padding: 2px 10px;
	color: #D00;
	border-bottom: 1px solid #7C8896;
	background-color: #FFD;
	font-weight: bold;
	font-size: 11px;
}
#messagebar a.cx {
	float: right;
	margin-right: 4px;
	padding: 0 5px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	outline: none;
}
* html #messagebar a.cx { /* ie6 */
	position: relative;
	margin-top: -16px;
}
#messagebar a.cx:link, #messagebar a.cx:visited, #messagebar a.cx:active {
	color: #333;
	text-decoration: none;
}
#messagebar a.cx:hover, #messagebar a.cx:focus {
	color: #000;
	border-left: 1px solid #7C8896;
	border-right: 1px solid #7C8896;
	background-color: #F4F4C9;
	text-decoration: none;
}
#messagebar span.msgok {
	color: #0A0;
}
/* --------------------------------- */
#leftpanel {
	clear: both;
	float: left;
	width: 50%;
}
#filelist {
	position: relative;
	height: 270px;
	padding: 1%;
	border-right: 1px solid #7C8896;
	background: #FFF;
	overflow: auto;
}
#filelist a {
	display: block;
	overflow: hidden;
	margin: 0 0 2px 0;
	padding: 2px 4px 2px 28px;
	background-position: 5px center;
	background-repeat: no-repeat;
	white-space: nowrap;
	cursor: pointer;
}
* html #filelist a { /* ie6 */
	text-indent: 10px;
	background-position: 30px center;
}
#filelist a.updir {
	background-image: url(../images/up.gif);
}
#filelist a.dir {
	background-image: url(../images/directory.gif);
}
#filelist input {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	vertical-align: middle;
}
#filelist a span {
	display: -moz-inline-box;
	display: inline-block;
	width: 240px;
	margin-right: 5px;
	overflow: hidden;
	vertical-align: middle;
}
#filelist a:link, #filelist a:visited {
	color: #000;
	text-decoration: none;
}
#filelist a:hover, #filelist a:focus {
	color: #000;
	background-color: #D6D7CE;
	text-decoration: none;
}
#filelist a:active {
	color: #000;
	text-decoration: none;
}
/* --------------------------------- */
#filelist div.thbfile {
	position: relative;
	float: left;
	width: 106px;
	height: 110px;
	border: 1px solid #CCC;
	margin: 5px 6px;
	text-align: center;
	overflow: hidden;
}
#filelist div.thbfile:hover {
	background-color: #EEE;
}
#filelist div.thbfile a {
	margin: 0;
	padding: 0;
	background: none;
	outline: none;
}
#filelist div.thbfile img {
	display: block;
	width: 90px;
	height: 64px;
	margin: 10px auto 0 auto;
	border: 0;
}
#filelist div.thbfile label {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 96px;
	height: 21px;
	margin: 0;
	padding: 4px 5px 0 5px;
	border-top: 1px solid #CCC;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
#filelist div.thbfile label input {
	position: absolute;
	left: 0;
	bottom: 90px;
}
/* --------------------------------- */
#rightpanel {
	float: right;
	width: 49%;
	padding-top: 7px;
	overflow: auto;
}
#rightpanel .printmod {
	display: none;
	clear: both;
	height: 250px;
	margin: 0 7px 0 0;
}
#mod_about { padding-bottom: 15px; }
#mod_mkdir { padding: 0 30px; }
/* --------------------------------- */
#infopanel {
	clear: both;
	position: relative;
	padding: 10px;
	border-top: 1px solid #7C8896;
	overflow: hidden;
	zoom: 1;
}
#infopanel p {
	margin: 0;
	padding: 0 0 8px 0;
}
.leftside {
	float: left;
}
p#funct {
	padding-bottom: 20px;
}
p#funct a {
	padding: 0 10px 0 0;
	font-size: 11px;
}
.rightside {
	float: right;
	padding-top: 5px;
}
/* --------------------------------- */
.upfile {
	display: block;
	padding: 10px 0 10px 0;
	line-height: 140%;
}
.hrlab {
	display: block;
	padding: 10px 0 8px 0;
	border-top: 1px dotted #DDD;
}
.upctrl {
	clear: both;
	margin: 10px 0 5px 0;
	padding-top: 18px;
	border-top: 1px dotted #DDD;
	text-align: center;
}
