cat-pol-1214553839-Produkty-Roboty.html
cat-pol-1214553855-Produkty-Akcesoria.html

<p>1. <strong>PŁATNOŚĆ ZA POBRANIEM</strong> – klient opłaca zamówienie <strong>gotówką</strong> dopiero po otrzymaniu przez kuriera paczki.</p> 
<p>2. <strong>SZYBKIE TRANSFERY I PRZELEWY ONLINE</strong> (realizowane przez Dotpay) – po kliknięciu w wybrany bank system automatycznie przekieruje Cię na stronę płatności. To bezpieczna forma płatności, dzięki której unikniesz źle wpisanych danych do przelewu, co może się zdarzyć przy samodzielnym realizowaniu przelewu.</p>
<p><div class="row clearfix">
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/alior.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/bph.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/bgz.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/millennium.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/bos.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/pekao.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/pocztowy.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/sgb.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/blik.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/paribas.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/citibank.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/creditagricole.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/deutschebank.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/dnb.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/eurobank.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/getin.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/ideabank.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/ing.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/inteligo.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/kantorpolski.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/kredytbank.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/maestro.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/mtransfer.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/multibank.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/meritum.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/mpay.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/noblebank.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/openfinance.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/toyota.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/peopay.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/ipko.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/plus.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/pocztowy24.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/pbs.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/polbank.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/iko.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/orange.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/raiffeisen.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/skycash.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/tmobile.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/diners.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/volkswagen.png" align="center" class="img-responsive"/></div>
</div></p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>3. <strong>PRZELEW ZWYKŁY</strong> (realizowany przez Dotpay) – jeśli nie ma Twojego banku na liście powyżej możesz wybrać opcję przelewu zwykłego.</p>

<p><div class="row clearfix">
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/przelew.png" align="center" class="img-responsive"/></div>
</div></p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>4. <strong>KARTY KREDYTOWE</strong> – jeśli posiadasz kartę kredytową możesz wybrać tą opcję i zapłacić wpisując dane swojej wypukłej karty.</p>

<p><div class="row clearfix">
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/mastercard.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/mastermobile.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/visa2.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/visa.png" align="center" class="img-responsive"/></div>
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/masterpass.png" align="center" class="img-responsive"/></div>
</div></p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>5. <strong>PŁATNOŚCI ODROCZONE></strong> <span style="color:red;">(nowość!)</span> – wybierając tą opcję, zamówisz dowolne produkty, które zostaną do Ciebie wysłane przez sklep (nie czekając na wpłatę) i dostarczone przez kuriera (który nie pobierze kwoty pobrania). Dzięki tej opcji możesz najpierw zapoznać się z produktem i albo zapłacić w ciągu 14 dni, albo zwrócić produkty do sklepu! <a href="http://www.ferbuy.pl" target="_blank">Dowiedz się więcej o usłudze FerBuy!</a></p>

<p><div class="row clearfix">
<div class="col-md-3 col-xs-6 bCenter"><img src="/data/include/cms/platnosci/ferbuy.png" align="center" class="img-responsive"/></div>
</div></p>