nav {
	ul{list-style: none;}
}

.side-menu-container {
	position: fixed;
	height: 100%;
	top: 0;
	width: 100%;
	z-index: 900;
   right: 0;
	-webkit-transition: all .5s cubic-bezier(0.91, 0.5, 0.52, 1.01);
   -moz-transition: all .5s cubic-bezier(0.91, 0.5, 0.52, 1.01);
   -o-transition: all .5s cubic-bezier(0.91, 0.5, 0.52, 1.01);
   -ms-transition: all .5s cubic-bezier(0.91, 0.5, 0.52, 1.01);
   transition: all .5s cubic-bezier(0.91, 0.5, 0.52, 1.01);
   ul{
	 	list-style: none;
	 }
}

.side-menu {
	position: absolute;
	z-index: 901;
	height: 100%;
	top: 0;
	width: 50%;

}

.side-menu-nav {
	position: absolute;
	z-index: 902;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100px;
}

.side-menu-nav .nav-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.side-menu-nav .nav-wrapper .side-logo-container {
	padding: 30px 40px 0 40px;
	position: absolute;
	top: 0;
	left: 0;
}

.abutton-collapse {
	margin: 8px 13px 0 0;
}

.side-menu-nav .nav-wrapper .abutton-collapse {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px 43px 0 0;
}

.side-menu-nav .nav-wrapper .abutton-collapse .material-icons {
	color: #fff;
	font-size: 33px;
}

.side-menu-1 {
	background-color: #dbdbdb;
	background-image: url(../img/menu-background.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	right: 50%;
}

.side-menu-2 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2256a3+0,193a6c+100 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2256a3+0,193a6c+52 */
	background: #2256a3; /* Old browsers */
	background: -moz-linear-gradient(left,  #2256a3 0%, #193a6c 52%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #2256a3 0%,#193a6c 52%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #2256a3 0%,#193a6c 52%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2256a3', endColorstr='#193a6c',GradientType=1 ); /* IE6-9 */

	right: 0;
}

.inactive {
	right: -100%!important;
}

.menu-container {
	@media screen and (max-height: 800px) {padding: 17% 0 0 20%;}
	@media screen and (min-height: 801px) {padding: 30% 0 0 20%;}
}

.menu-container a {
	@media screen and (max-height: 800px) {margin: 5px 0 16px 0;}
	@media screen and (min-height: 801px) {margin: 5px 0 26px 0;}
	display: block;
}

.menu-container a {
	@media screen and (max-height: 800px) {font-size: 2em;line-height: 27px;}
	@media screen and (min-height: 801px) {font-size: 2.5em;line-height: 32px;}
}

.menu-container-1 a {font-weight: 300; color: #333;}
.menu-container-1 a.active {color: #2358a8;}
.menu-container-1 a:hover {color: #2358a8;}
.menu-container-2 a {font-weight: 400; color: #fff;}
.menu-container-2 a:hover {color: #fff;}

.menu-container-1 a:after {border-bottom: 4px solid #2358a8;}
.menu-container-2 a:after {border-bottom: 4px solid #fff;}

.menu-container a:after {
  content: "";
  text-align: left;
  width: 0;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-container a.active:after{width:100%!important;}
.menu-container a:hover:after{width:100%;-webkit-transition:all 0.3s;transition:all 0.3s}
//nav.shrink a {float: right;}
nav a {float: right;}

.menu-bottom-container {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
}

.menu-bottom-container * {color: #fff;text-align: center;}
.menu-bottom-container h4, .menu-bottom-container .material-icons {font-size: 18px;}
.menu-bottom-container h3 {font-size: 34px;}
.menu-bottom-container p {font-weight: 100;}
.menu-bottom-container a {font-weight: 400;}

footer h4 {
	color: #2358a8;
	font-weight: 600;
	font-size: 1.2em;
	text-align: center;
	margin: 20px 0 5px 0;
}

footer h3 {text-align: center; font-size: 2.3em; font-weight: 200;}

footer a {
	color: #2358a8;
	font-weight: 400;
	font-size: 0.8em;
	text-align: center;
	margin: 20px 0 20px 0;
}

.input-field-scope {
	position: relative;
	label {
		width: 44px;
		color: #fff;
    position: absolute;
    top: 0;
    left: -3px;
    cursor: text;
    transition: .2s ease-out;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    
    .material-icons {
			font-size: 16px;
		}
	}
	input {
		padding-left: 15px;
		margin-right: 15px;
		width: 80%;
	}
}

nav.shrink .input-field-scope label {
	color: #2358a8!important;
}