#loader {
	background-color: #bebebe;;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	z-index: 1000;
	#loaderWrap {
		width: 71px;
		height: 71px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -35px 0 0 -35px;
	}
}

.page-jumbo {
	margin: 78px 0 0 0;
	width: 100%;
	height: 300px;
	position: relative;
	z-index: 30;
	background: #fdfdfd;
}

.page-container-scroll {
	position: relative;
	padding: 120px 0 0 0;
	height: 100%;
	width: 100%;
}

#pages-container {
  height: 100%;
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
}

.page-scroll {
	min-height: 100%;
  position: relative!important;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 120px 0 0 0;
  overflow: hidden;
}

.page-one-scroll {
	min-height: calc(100% - 300px);
	margin: 0 0 300px 0;
  position: relative!important;
  width: 100%;
  padding: 120px 0 0 30px;
}

.page {
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top, center;
  background-repeat: no-repeat;
  z-index: 3;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}

.page-content {
	background-color: #e7e7e7;
	z-index: 30;
}

.page-product {
	background-color: #f3f5f7;
	z-index: 30;
}

.page-light-gray {
	background-color: #f3f5f7;
	z-index: 30;
	position: relative;
}

.page-white {
	background-color: $white;
	z-index: 30;
	position: relative;
}

.page-gray {
	background-color: #ececec;
	z-index: 30;
	position: relative;
}

.page-container {
	width: 90%;
	//margin: 150px 5% 0 5%;
	margin: 0 5% 0 5%;
}

.page, .page-container, .page-scroll, .container {
	ul {
		margin-left: 17px;
	}
}

.page-container-section {
	width: 90%;
	margin: 0 5% 0 5%;
	padding: 40px 0 40px 0;
}

.section-container {
	width: 100%;
	position: relative;
	z-index: 30;
}

.pageCurrent {
	z-index: 310!important;
}

.front-page {
	overflow: hidden;
	background-image: url(../img/back.jpg);
	z-index: 31;
}

.pre-footer {
	height: 300px!important;
}

.pageUp,  .pageDown {
 	width: 30px;
 	height: 25px;
 	position: absolute;
 	left: 50%;
 	margin-left: -15px;
 	z-index: 8000;
 	cursor: pointer;
 	text-align: center;
 	padding: 0;
 	 -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
  
 }
 
 .pageUp {
 	background-image: url("../img/go-up.png");
 	top: 78px;
}
 	
.pageDown {
	background-image: url("../img/go-down.png");
 	bottom: 0;
}
 	
 	
.page-cloak {
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.5;
	filter: alpha(opacity=50);
	position: absolute;
	background-color: #fff;
	 -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
  animation: cloak 2.5s ease alternate;
}
 
@keyframes cloak {
  50%  {opacity: 0;filter: alpha(opacity=0); }
  100% {opacity: 0.5;filter: alpha(opacity=50);}
}

.page-zboze {
	background-image: url("../img/zboze_bw.jpg");
} 

.page-text {
  animation: page-text-animation 2.5s ease alternate;
  
}

@keyframes page-text-animation {
  0%  {
		-webkit-transform: translate(-200%,0%);
		-moz-transform: translate(-200%,0%);
		transform: translate(-200%,0%);
	}
  100% {
		-webkit-transform: translate(0,0%);
		-moz-transform: translate(0,0%);
		transform: translate(0,0%);
	}
}

.page-text-1 {
	-webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}
.page-text-2 {
-webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;	
}
.page-text-3 {
	-webkit-transition: all ease 1.5s;
  -moz-transition: all ease 1.5s;
  transition: all ease 1.5s;
}

.row {margin-bottom: 0!important;}

.image-container {
	width: 100%;
	height: auto;
	margin: 20px 0 10px 0;
	text-align: left;
}

h4 strong span, a span, h2 span, .s-super {
	vertical-align: super;
}

.page-arrow-down {
	width: 100%;
	position: absolute;
	bottom: 20px;
	text-align: center;
	z-index: 40;
	-webkit-transition: all ease .5s;
  	-moz-transition: all ease .5s;
  	transition: all ease .5s;
		animation: page-arrow-animation 1s ease infinite;
	a {
		border: 1px solid #000;
		padding: 11px 1px 0 1px;
	}
}

@keyframes page-arrow-animation {
  0%  {
		/*-webkit-transform: translate(0,-4px);
		-moz-transform: translate(0,-4px);
		transform: translate(0, -4px);*/
		bottom: 17px;
	}
  100% {
		/*-webkit-transform: translate(0,0%);
		-moz-transform: translate(0,0%);
		transform: translate(0,0%);*/
		bottom: 20px;
	}
}

.hidden {
	opacity: 0;
	filter: alpha(opacity=0);	
}

.page-lubofoska {
	background-image: url(../img/produkty/LUBOFOSKI_back.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	h1 {
		color: $orange-text!important;
		&:after {
			border-bottom: 4px solid $dark-orange-text!important;
		}
	}
}