.p-header {font-weight: bold;}
.product-content {
	h3 {
		font-size: 55px;
    font-weight: 600;
    margin: 10px 0 1px 0;
	}
	h4 {
		margin: 0 0 20px 0;
		font-weight: 300;
		display: inline-block;
		&:after {
			content: "";
		  text-align: left;
		  width: 100%;
		  display: block;
		}
	}
	
	.p-link {
		a {
			font-weight: bold;
			.material-icons {
				font-size: 16px;
			}		
		}
	}
}

.product-content-list {
	h3 {margin-left: 10px;font-size: 35px!important;}
	h4 {margin-left: 10px;}
	.p-link {margin: 40px 0 0 10px;}
}

.product-details {
	h2 {
		font-size: 60px;
		font-weight: 500;
		margin: 0;
	}
	h3 {
		font-size: 56px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    display: inline-block;
	}
}
.product-orange {
	h2 {color: $orange-text;}
	h3 {border-bottom: 4px solid $orange-text;}	
	h4 {
		font-weight: 300;
		strong {
			color: $orange-text;
			border-bottom: 4px solid $orange-text;
			font-weight: 600;
		}
	}
	.p-link a {color: $orange-text;}
	.p-header {color: $orange-text;}
}

.product-red {
	h2 {color: $red-text;}
	h3 {border-bottom: 4px solid $red-text;}	
	h4 {
		font-weight: 300;
		strong {
			color: $red-text;
			border-bottom: 4px solid $red-text;
			font-weight: 600;
		}
	}
	.p-link a, .p-header {color: $red-text;}
}

.product-50 {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 80px;
	bottom: 0;
	
}

.product-left {left: 0;}
.product-right {right: 0;}

.product-float-image {
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.pfi-1 {
	@media screen and (max-height: 800px) {margin: 6px 0 0 -139px;}
	@media screen and (min-height: 801px) {margin: 23px 0 0 -133px;}
	animation: a-pfi-1 1s ease alternate;
	img {
		@media screen and (max-height: 800px) {width: 340px;}
	}
}
.pfi-2 {
	@media screen and (max-height: 800px) {margin: 47px 0 0 44px;}
	@media screen and (min-height: 801px) {margin: 87px 0 0 148px;}
	img {
		@media screen and (max-height: 800px) {width: 236px;}
	}
	animation: a-pfi-2 1.5s ease alternate;
	-webkit-transition-delay: 4s;
 	-moz-transition-delay: 4s;
 	-o-transition-delay: 4s;
 	-ms-transition-delay: 4s;
  transition-delay: 4s;
}

@keyframes a-pfi-1 {
  0%  {
		-webkit-transform: translate(-50%,-250%);
		-moz-transform: translate(-50%,-250%);
		transform: translate(-50%,-250%);
	}
  100% {
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}
}

@keyframes a-pfi-2 {
  0%  {
		-webkit-transform: translate(-50%,-250%);
		-moz-transform: translate(-50%,-250%);
		transform: translate(-50%,-250%);
	}
  100% {
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}
}

.product-spacer-orange {background: $orange-text;}
.product-spacer-red {background: $red-text;}

.product-spacer {
	width: 100%;
	height: 20px;
	z-index: 30;
	position: relative;
}

.product-weight {
	background: url(../img/icons/kg.png) no-repeat left center;
	padding: 5px 0 0 30px;
	font-size: 18px;
  font-weight: 600;
}

.p-header-margin {
	margin: 0!important;
}

/*table*/
.product-table-data {
	border: 2px solid #fff;
	
	td {
		border: 2px solid #fff;
		border-collapse: collapse;
		text-align: center;
		font-weight: 600;
		padding: 8px 0;
		background: #ececec;
	}
	.t-header {
		color: #fff;
		font-weight: 200;
	}
	.t-dark {background: #c7c8ca;}
}

.product-table-data-red {
	.t-header {
		background: #cf333c;
	}
}