.slideContainer {
	margin: 0 0 0 80px;
}

.slide_1, .slide_2, .slide_3 {
	z-index:6;
	position: absolute;
	width: 60%;
	color: #fff;
	-webkit-transition: transform 1s ease-in-out;
	-moz-transition: transform 1s ease-in-out;
	transition: transform 1s ease-in-out;
	text-align: left;
}

.slide_1 h1, .slide_2 h2, .slide_3 h5 {font-family: 'Lato', sans-serif;}
.slide_3 h5 {font-size: 16px; font-weight: 200; line-height: 25px;letter-spacing: 1.2px;}

.front-page :not(.active) .slide_1, .front-page :not(.active) .slide_3 {
	-webkit-transform: translate3d(200%,0%,0);
	-moz-transform: translate3d(200%,0%,0);
	transform: translate3d(200%,0%,0);
}

.front-page :not(.active) .slide_2 {
	-webkit-transform: translate3d(-100%,0%,0);
	-moz-transform: translate3d(-100%,0%,0);
	transform: translate3d(-100%,0%,0);
}
.slide_2 {top: 50%;}
.slide_1 {
	@media screen and (max-height: 800px) {top: 38%;}
	@media screen and (min-height: 801px) {top: 42%;}
}

.slide_3 {
	@media screen and  (max-height: 800px) {top: 63%;}
	@media screen and  (min-height: 801px) {top: 59%;}
}

