html, body {
	height: 100%;
	margin: 0;
}

.slideContainer {
	h1, h2, h3,h4, h5, h6 {text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);}
	h1 {font-weight: 600;}
	h2,h5  {font-weight: 200;}
}

nav {height: 120px;}

nav, nav * {
	-webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

nav .material-icons {
	width: 44px;
  float: right;
}
nav .nav-wrapper {
 	padding: 30px 40px 0 40px;
 	width: 100%;
}

nav.shrink {background: #fff; height: 78px;}

nav.shrink .nav-wrapper {padding: 10px 40px;}
nav.shrink a {color: #2358a8;}

nav.shrink .material-icons {line-height: 60px;}

.main {
	position: relative;
	z-index: 2;
	background-color: #f3f5f7;
	margin: 0 0 300px 0;
	padding: 0 0 50px 0;
}

.main-spacer {
	width: 100%;
	height: 50%;
	position: relative;
	background-color: #f3f5f7;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
}
/* footer */
footer {
	background-color: #ebebeb;
	position: fixed;
	width: 100%;
	height: 300px;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 0;
}

.foot-logo {
	height: 40px;
	position: absolute;
   padding: 0 40px 0 40px;
	bottom: 15px;
	left: 0;
	right: 0;
	color: #bcbfc4;
}