@charset "UTF-8";
html, body {height: 100%;}
[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}
ng\:form{display:block;}
.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}
.ng-hide-add-active,.ng-hide-remove{display:block!important;}

textarea.newsletter-input, select.newsletter-input {
    border-radius: .3em;
    border: 1px solid transparent;
    background-color: #d1ebff;
    box-sizing: border-box;
    width: 100%;
    font-size: 1em;
}

select.newsletter-input {height: 2.5em;padding: 0 1em;}
textarea.newsletter-input {height: 6em;padding: 1em;}

//@import "font-awesome";
@import "library";
@import "primary";
//@import "fb";